<div class="row" style='margin-top:20px;'>
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-address-book-o fa-fw"></i>
        小区家宽业务统计
      </div>
      <table class="table table-bordered">
        <tr>
          <td align='right' class='text-muted'>
            <strong>小区居民数量：</strong>
          </td>
          <td>568户</td>
          <td align='right' class='text-muted'>
            <strong>小区建成时间：</strong>
          </td>
          <td>2004年7月12日</td>
          <td align='right' class='text-muted'>
            <strong>小区入网时间：</strong>
          </td>
          <td>2015年3月17日</td>
        </tr>
        <tr>
          <td align='right' class='text-muted'>
            <strong>小区地址：</strong>
          </td>
          <td colspan="5">凉山彝族自治州西昌市文汇北路88号</td>
        </tr>
        <tr>
          <td align='right' class='text-muted'>
            <strong>当前小区接入数：</strong>
          </td>
          <td>298户（51.9%）</td>
          <td align='right' class='text-muted'>
            <strong>当前宽带用户数：</strong>
          </td>
          <td>134户</td>
          <td align='right' class='text-muted'>
            <strong>当前固话用户数：</strong>
          </td>
          <td>206户</td>
        </tr>
        <tr>
          <td align='right' class='text-muted'>
            <strong>小区宽带接入容量：</strong>
          </td>
          <td>340户</td>
          <td align='right' class='text-muted'>
            <strong>小区宽带已使用：</strong>
          </td>
          <td>164户</td>
          <td align='right' class='text-muted'>
            <strong>小区宽带未使用：</strong>
          </td>
          <td>226户</td>
        </tr>

      </table>
    </div>
  </div>
</div>
<div class='row'>
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div id="chart_community_ftth_usage" style="min-height:350px"></div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="panel panel-default">
      <div id="community_map" style="min-height:350px"></div>
    </div>
  </div>
</div>
