<!-- /.row -->
<div class="row" style='margin-top:20px;'>
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-globe fa-fw"></i>
        家宽业务用户
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <table width="100%" class="table table-striped table-bordered table-hover" id="table_consumer_ftth">
          <thead>
            <tr>
              <th>小区名称</th>
              <th>客户名称</th>
              <th>联系方式</th>
              <th>楼号</th>
              <th>楼层</th>
              <th>房号</th>
              <th>外线端口</th>
              <th>分线盒线序号</th>
              <th>分线盒对数号</th>
              <th>宽带帐号</th>
              <th>开通日期</th>
              <th>ONU名称</th>
              <th>ONU端口</th>
              <th>开通流量</th>
              <th>PPPOE业务PVLAN</th>
              <th>PPPOE业务CVLAN</th>
            </tr>
          </thead>
          <tbody>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>


          </tbody>
        </table>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-tty fa-fw"></i>
        固定电话用户
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <table width="100%" class="table table-striped table-bordered table-hover" id="table_consumer_telephone">
          <thead>
            <tr>
              <th>小区名称</th>
              <th>客户名称</th>
              <th>联系方式</th>
              <th>楼号</th>
              <th>楼层</th>
              <th>房号</th>
              <th>外线端口</th>
              <th>分线盒线序号</th>
              <th>分线盒对数号</th>
              <th>电话号码</th>
              <th>开通日期</th>
              <th>ONU名称</th>
              <th>ONU端口</th>
            </tr>
          </thead>
          <tbody>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>
            <tr class="odd gradeX">
              <td>攀西花园</td>
              <td>李明</td>
              <td>13812341234</td>
              <td class="center">6</td>
              <td class="center">6</td>
              <td class="center">604</td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center">2016-11-23</td>
              <td class="center"></td>
              <td class="center"></td>
            </tr>

          </tbody>
        </table>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
