<div class="row" style='margin-top:20px;'>
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-random fa-fw"></i>
        小区家宽PON网络拓扑图
        <div class="pull-right">
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
              操作
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li>
                <a href="#">打印</a>
              </li>
              <li>
                <a href="#">发送</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <div id="chart_community_ftth_topology" style="min-height:600px"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
