<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default b-a-2 no-bg b-gray-dark">
            <div class="panel-heading text-center">
                <a href="#"> <img src="/images/logo-primary-white2X.png" alt="Logo" class="m-t-3 m-b-3 h-20"></a>
            </div>
            <div class="panel-body">
                <h2 class="text-center f-w-300 m-b-0">智能管道震动传感故障预警系统</h2>
                <p class="text-center m-b-3"></p>
                <form class="m-t-3" action="/login" method='post'>
                    <div class="form-group">
                        <input class="form-control" placeholder="请输入账号" name='account' id='account'>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="请输入密码" type="password" name='password' id='password'>
                    </div>

                    <input type="submit" name="" value="登录" class="btn btn-block m-b-2 btn-primary" style="margin-top: 30px;">
                </form>
            </div>
            <div class="panel-footer b-a-0 b-r-a-0">
                <a href="#">忘记密码？</a>
                <a href="#" class="pull-right">客服电话</a>
            </div>
        </div>
        <p class="text-gray-light text-center">
          <strong class="m-r-1">上海远洲管业科技股份有限公司
          </strong>
          <span class="text-gray-light">© 2009 - 2017
            上海市，中国</span>
        </p>
    </div>
</div>
