<!-- START Sub-Navbar with Header and Breadcrumbs-->
<div class="sub-navbar sub-navbar__header-breadcrumbs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 sub-navbar-column">
        <div class="sub-navbar-header">
          <h3>小区信息</h3>
        </div>
        <ol class="breadcrumb navbar-text navbar-right no-bg">
          <li class="current-parent">
            <a class="current-parent" href="/">
              <i class="fa fa-fw fa-home"></i>
            </a>
          </li>
          <li>
            <a href="/broadband-family">
              家宽业务
            </a>
          </li>
          <li>
            <a href="/broadband-family/map">
              地图模式
            </a>
          </li>
          <li class="active">小区信息</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- END Sub-Navbar with Header and Breadcrumbs-->

<div class="container-fluid">
  <!-- START EDIT CONTENT -->
  <div class="row">
    <!-- START Navigation Tree & Search -->
    <div class="col-lg-3">
      <div class="hr-text hr-text-left m-t-0 m-b-1">
        <h6 class="text-white">
          <strong>基础信息</strong>
        </h6>
      </div>

      <!-- START Table Task Details -->
      <table class="table table-condensed">
        <tbody>

          <!-- START ROW Task Details  -->
          <tr>
            <td class="v-a-m b-t-0">
              小区名称
            </td>
            <td class="v-a-m b-t-0 text-right text-white">
              <span>信联公寓</span>
            </td>
          </tr>
          <!-- END ROW Task Details  -->

          <!-- START ROW Task Details  -->
          <tr>
            <td class="v-a-m">
              小区地址
            </td>
            <td class="v-a-m text-right text-white">
              上海市中山南一路1012弄1-10号
            </td>
          </tr>
          <!-- END ROW Task Details  -->

          <!-- START ROW Task Details  -->
          <tr>
            <td class="v-a-m">
              开通日期
            </td>
            <td class="v-a-m text-right text-white">
              2014年6月12日
            </td>
          </tr>
          <!-- END ROW Task Details  -->

          <!-- START ROW Task Details  -->
          <tr>
            <td class="v-a-m">
              小区用户数
            </td>
            <td class="v-a-m text-right text-white">
              <a href="javascript:$('#myModal').modal('show');">896户</a>

            </td>
          </tr>
          <!-- END ROW Task Details  -->

          <!-- START ROW Task Details  -->
          <tr>
            <td class="v-a-m">
              光纤资源使用率
            </td>
            <td class="v-a-m text-right text-white">
              65%
            </td>
          </tr>
          <!-- END ROW Task Details  -->

          <!-- START ROW Task Details  -->
          <tr>
            <td class="v-a-m">
              账号
            </td>
            <td class="v-a-m text-right text-white">
              021-54231786
            </td>
          </tr>
          <!-- END ROW Task Details  -->

        </tbody>
      </table>
      <!-- END Table Task Details -->
      <div class="hr-text hr-text-left m-t-2 m-b-1">
        <h6 class="text-white">
          <strong>地理位置</strong>
        </h6>
      </div>

      <div id="community_map" style="min-height:300px"></div>

    </div>
    <!-- END Navigation Tree & Search -->

    <div class="col-lg-9">
      <!-- START EDIT CONTENT -->
      <div class="row">
        <div class="col-lg-12">

          <!-- START ROWs #1 -->
          <div class="row m-t-1">

            <!-- START Revenue -->
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="panel panel-default b-a-0 bg-gray-dark">
                <div class="panel-heading">小区用户数
                  <small class="pull-right text-gray-lighter">
                    <a href="javascript:$('#myModal').modal('show');">详细</a>
                  </small>
                </div>
                <div class="panel-body">
                  <h2 class="m-t-0 f-w-300">
                    865 户
                  </h2>
                  <i class="fa fa-fw fa-caret-up text-success"></i>
                  <span class="text-success m-r-1">13.87%</span>
                  <small>较去年新增</small>
                </div>
              </div>
            </div>
            <!-- END Revenue -->

            <!-- START Total Item Sold -->
            <div class="col-lg-4 col-md-4  col-sm-4">
              <div class="panel panel-default b-a-0 bg-gray-dark">
                <div class="panel-heading">小区投诉量
                  <small class="pull-right text-gray-lighter">截止到2017年8月</small>
                </div>
                <div class="panel-body">
                  <h2 class="m-t-0 f-w-300">980 起</h2>
                  <i class="fa fa-fw fa-caret-down text-danger"></i>
                  <span class="text-danger m-r-1">33.87%</span>
                  <small>较去年降低</small>
                </div>
              </div>
            </div>
            <!-- END Total Item Sold -->

            <!-- START Total Visitor -->
            <div class="col-lg-4 col-md-4  col-sm-4">
              <div class="panel panel-default b-a-0 bg-gray-dark">
                <div class="panel-heading">小区今年收入
                  <small class="pull-right text-gray-lighter">截止到2017年8月</small>
                </div>
                <div class="panel-body">
                  <h2 class="m-t-0 f-w-300">¥ 905,895</h2>
                  <i class="fa fa-fw fa-caret-up text-success"></i>
                  <span class="text-success m-r-1">92,01%</span>
                  <small>较去年同期</small>
                </div>
              </div>
            </div>
            <!-- END Total Visitor -->

          </div>
          <!-- END ROWs #1 -->

          <!-- START ROW Report Statisticts & Latest Transactions -->
          <div class="row m-t-3">

            <div class="col-lg-6">

              <!-- START Header -->
              <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <h5 class="m-b-0 m-t-0 f-w-300">周平均带宽使用率</h5>
                  <small class="text-gray-lighter"></small>
                </div>
              </div>
              <!-- END Header -->

              <!-- START Chart Higcharts -->
              <div class="highcharts-basic-column m-t-2"></div>
              <!-- END Chart Higcharts -->

            </div>

            <div class="col-lg-6">

              <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <h5 class="m-b-0 m-t-0 f-w-300">一周带宽使用率Top10</h5>
                </div>
                <div class="col-md-4 col-sm-4 col-sm-4 col-sm-offset-4 col-md-offset-4 col-xs-offset-2 text-right">
                  <button type="button" class="btn btn-sm btn-default">查看更多数据<i class="fa m-l-1 fa-angle-right"></i>
                  </button>
                </div>
              </div>

              <table class="table m-t-2">
                <thead>
                  <tr>
                    <th class="small text-muted text-uppercase">
                      <strong>地址</strong>
                    </th>
                    <th class="small text-muted text-uppercase">
                      <strong>周平均带宽使用率</strong>
                    </th>
                    <th class="small text-muted text-uppercase">
                      <strong>当前状态</strong>
                    </th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td class="v-a-m">
                      <div class="media media-auto">
                        <div class="media-body">
                          <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                          <span class="media-heading text-white">6单元 508</span>
                          <br>
                          <span class="media-heading">
                            <span>平均周上网时长：138 小时
                            </span>
                          </span>
                        </div>
                      </div>
                    </td>
                    <td class="v-a-m">
                      <span>85%</span>
                    </td>
                    <td class="v-a-m">
                      <i class="fa fa-circle text-success m-r-1"></i>在线</td>
                  </tr>
                  <tr>
                    <td class="v-a-m">
                      <div class="media media-auto">
                        <div class="media-body">
                          <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                          <span class="media-heading text-white">3单元 208</span>
                          <br>
                          <span class="media-heading">
                            <span>平均周上网时长：128 小时
                            </span>
                          </span>
                        </div>
                      </div>
                    </td>
                    <td class="v-a-m">
                      <span>85%</span>
                    </td>
                    <td class="v-a-m">
                      <i class="fa fa-circle text-success m-r-1"></i>在线</td>
                  </tr>
                  <tr>
                    <td class="v-a-m">
                      <div class="media media-auto">
                        <div class="media-body">
                          <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                          <span class="media-heading text-white">1单元 1508</span>
                          <br>
                          <span class="media-heading">
                            <span>平均周上网时长：127 小时
                            </span>
                          </span>
                        </div>
                      </div>
                    </td>
                    <td class="v-a-m">
                      <span>45%</span>
                    </td>
                    <td class="v-a-m">
                      <i class="fa fa-circle text-success m-r-1"></i>在线</td>
                  </tr>
                  <tr>
                    <td class="v-a-m">
                      <div class="media media-auto">
                        <div class="media-body">
                          <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                          <span class="media-heading text-white">6单元 402</span>
                          <br>
                          <span class="media-heading">
                            <span>平均周上网时长：108 小时
                            </span>
                          </span>
                        </div>
                      </div>
                    </td>
                    <td class="v-a-m">
                      <span>81%</span>
                    </td>
                    <td class="v-a-m">
                      <i class="fa fa-circle text-success m-r-1"></i>在线</td>
                  </tr>
                  <tr>
                    <td class="v-a-m">
                      <div class="media media-auto">
                        <div class="media-body">
                          <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                          <span class="media-heading text-white">6单元 108</span>
                          <br>
                          <span class="media-heading">
                            <span>平均周上网时长：138 小时
                            </span>
                          </span>
                        </div>
                      </div>
                    </td>
                    <td class="v-a-m">
                      <span>25%</span>
                    </td>
                    <td class="v-a-m">
                      <i class="fa fa-circle text-success m-r-1"></i>在线</td>
                  </tr>
                  <tr>
                    <td class="v-a-m">
                      <div class="media media-auto">
                        <div class="media-body">
                          <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                          <span class="media-heading text-white">9单元 201</span>
                          <br>
                          <span class="media-heading">
                            <span>平均周上网时长：138 小时
                            </span>
                          </span>
                        </div>
                      </div>
                    </td>
                    <td class="v-a-m">
                      <span>0%</span>
                    </td>
                    <td class="v-a-m">
                      <i class="fa fa-circle text-gray m-r-1"></i>离线</td>
                  </tr>

                </tbody>
              </table>
            </div>

          </div>
          <!-- END ROW Report Statisticts & Latest Transactions -->

          <!-- START ROW Latest Comments & Most Viewed -->

          <!-- END EDIT CONTENT -->

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="highstock-intraday-area"></div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&#xD7;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">小区用户列表</h4>
      </div>
      <div class="modal-body" id='modal-body'>

        <table id="datatables-example" class="display table">
          <thead>
            <tr>
              <th class="text-white">地址</th>
              <th class="text-white">开户名</th>
              <th class="text-white">联系电话</th>
              <th class="text-white">套餐</th>
              <th class="text-white">周上网时长</th>
              <th class="text-white">带宽利用率</th>
              <th class="text-white"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-white">1单元101</td>
              <td class="text-white">王雪勤</td>
              <td class="text-white">15800779123</td>
              <td class="text-white">128元包月，20M</td>
              <td class="text-white">134小时</td>
              <td class="text-white">56%</td>
              <td class="text-white"><a href="/broadband-family/family-detail">详细</a></td>
            </tr>
            <tr>
              <td class="text-white">1单元102</td>
              <td class="text-white">刘明</td>
              <td class="text-white">15800779123</td>
              <td class="text-white">128元包月，20M</td>
              <td class="text-white">156小时</td>
              <td class="text-white">62%</td>
              <td class="text-white"><a href="/broadband-family/family-detail">详细</a></td>
            </tr>
            <tr>
              <td class="text-white">1单元103</td>
              <td class="text-white">李浩</td>
              <td class="text-white">15800779123</td>
              <td class="text-white">128元包月，20M</td>
              <td class="text-white">139小时</td>
              <td class="text-white">45%</td>
              <td class="text-white"><a href="/broadband-family/family-detail">详细</a></td>
            </tr>
            <tr>
              <td class="text-white">1单元104</td>
              <td class="text-white">王凯兰</td>
              <td class="text-white">15800779123</td>
              <td class="text-white">128元包月，20M</td>
              <td class="text-white">102小时</td>
              <td class="text-white">65%</td>
              <td class="text-white"><a href="/broadband-family/family-detail">详细</a></td>
            </tr>
            <tr>
              <td class="text-white">1单元105</td>
              <td class="text-white">张力峰</td>
              <td class="text-white">15800779123</td>
              <td class="text-white">128元包月，20M</td>
              <td class="text-white">92小时</td>
              <td class="text-white">36%</td>
              <td class="text-white"><a href="/broadband-family/family-detail">详细</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<script src="/javascript/jquery.dataTables.min.js"></script>
<script src="/javascript/dataTables.bootstrap.min.js"></script>

</script>
<script type="text/javascript">

var map;
var marker;

$(document).ready(function () {
  map = new AMap.Map("community_map", {
    resizeEnable: true,
    mapStyle: 'amap://styles/grey',
    center: [
      121.499859, 31.23966
    ],
    zoom: 18
  });

  marker = new AMap.Marker({
    position: [
      121.44182, 31.206832
    ],
    title: '信联公寓',
    icon: '/images/icon/community-24.png',
    offset: new AMap.Pixel(-12, -12),
    map: map
  });

  map.setCenter([121.44182, 31.206832]);

});

$('#datatables-example').dataTable({
  language: {
    url: '/localisation/jquery_datatable_cn.json'
  }
});

//鼠标点击marker弹出自定义的信息窗体
</script>
