<!-- START Sub-Navbar with Header and Breadcrumbs-->
<div class="sub-navbar sub-navbar__header-breadcrumbs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 sub-navbar-column">
        <div class="sub-navbar-header">
          <h3>家宽用户信息</h3>
        </div>
        <ol class="breadcrumb navbar-text navbar-right no-bg">
          <li class="current-parent">
            <a class="current-parent" href="/">
              <i class="fa fa-fw fa-home"></i>
            </a>
          </li>
          <li>
            <a href="/broadband-family">
              家宽业务
            </a>
          </li>
          <li>
            <a href="/broadband-family/map">
              地图模式
            </a>
          </li>
          <li>
            <a href="/broadband-family/community-detail">
              小区信息
            </a>
          </li>
          <li class="active">家宽用户信息</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- END Sub-Navbar with Header and Breadcrumbs-->

<div class="container-fluid">
  <!-- START EDIT CONTENT -->

  <div class="row">

    <!-- START Navigation Tree & Search -->
    <div class="col-lg-3">

      <div class="hr-text hr-text-left m-t-0 m-b-1">
        <h6 class="text-white">
          <strong>基础信息</strong>
        </h6>
      </div>

      <!-- START Table Task Details -->
      <table class="table table-condensed">
        <tbody>

          <!-- START ROW Task Details  -->
          <tr>
            <td class="v-a-m b-t-0">
              位置信息
            </td>
            <td class="v-a-m b-t-0 text-right text-white">
              <a href="tasks-details.html">龙华小区</a>
              <span>、9单元、604</span>
            </td>
          </tr>
          <!-- END ROW Task Details  -->

          <!-- START ROW Task Details  -->
          <tr>
            <td class="v-a-m">
              套餐名称
            </td>
            <td class="v-a-m text-right">
              <a href="profile-details.html">
                <span>20M包月套餐</span>
              </a>
            </td>
          </tr>
          <!-- END ROW Task Details  -->

          <!-- START ROW Task Details  -->
          <tr>
            <td class="v-a-m">
              开通日期
            </td>
            <td class="v-a-m text-right text-white">
              2014年6月12日
            </td>
          </tr>
          <!-- END ROW Task Details  -->

          <!-- START ROW Task Details  -->
          <tr>
            <td class="v-a-m">
              在网时长
            </td>
            <td class="v-a-m text-right text-white">
              1086天
            </td>
          </tr>
          <!-- END ROW Task Details  -->

          <!-- START ROW Task Details  -->
          <tr>
            <td class="v-a-m">
              开户名称
            </td>
            <td class="v-a-m text-right text-white">
              王明
            </td>
          </tr>
          <!-- END ROW Task Details  -->

          <!-- START ROW Task Details  -->
          <tr>
            <td class="v-a-m">
              账号
            </td>
            <td class="v-a-m text-right text-white">
              021-54231786
            </td>
          </tr>
          <!-- END ROW Task Details  -->

        </tbody>
      </table>
      <!-- END Table Task Details -->
      <div class="hr-text hr-text-left m-t-2 m-b-1">
        <h6 class="text-white">
          <strong>套餐更新记录</strong>
        </h6>
      </div>

      <!-- START Widget - Menu Pills Vertical -->
      <div class="scroll-300 custom-scrollbar">
        <ul class="nav nav-pills nav-stacked">

          <!-- START User Online (Small) -->
          <li role="presentation">
            <a href="users-grid.html">
              <div class="media">
                <div class="media-left">
                  <div class="avatar avatar-image avatar-sm ">
                    <img class="media-object img-circle" src="" alt="Avatar">
                  </div>
                </div>
                <div class="media-body">
                  <h5 class="m-t-0 m-b-0">
                    <span>由12M套餐升级到20M</span>
                  </h5>
                  <p class="small text-gray-lighter m-b-0">
                    <span>2015-12-18，龙华路营业厅</span>
                  </p>
                </div>

                <div class="media-right">
                  <i class="fa fa-fw fa-circle text-info" data-toggle="tooltip" data-placement="left" title="升级"></i>
                </div>

              </div>
            </a>
          </li>
          <!-- START User Online (Small) -->

          <!-- START User Online (Small) -->
          <li role="presentation">
            <a href="users-grid.html">
              <div class="media">
                <div class="media-left">
                  <div class="avatar avatar-image avatar-sm ">
                    <img class="media-object img-circle" src="" alt="Avatar">
                  </div>
                </div>
                <div class="media-body">
                  <h5 class="m-t-0 m-b-0">
                    <span>由8M套餐升级到12M</span>
                  </h5>
                  <p class="small text-gray-lighter m-b-0">
                    <span>2014-6-7，龙华路营业厅</span>
                  </p>
                </div>

                <div class="media-right">

                  <i class="fa fa-fw fa-circle text-info" data-toggle="tooltip" data-placement="left" title="升级"></i>

                </div>

              </div>
            </a>
          </li>
          <!-- START User Online (Small) -->

        </ul>
      </div>
      <!-- END Widget - Menu Pills Vertical -->

    </div>
    <!-- END Navigation Tree & Search -->

    <div class="col-lg-9">

      <!-- START Panel Sessions -->
      <div class="panel panel-default b-a-2 no-bg b-gray-dark">

        <div class="panel-body">

          <!-- START Header Task Details -->
          <div class="media media-auto m-b-3">
            <div class="media-body p-l-1">
              <h3 class="f-w-300 m-t-0 m-b-1">
                <span class="text-muted m-r-1">用户上网行为态势分析</span>
              </h3>

              <span class="label label-danger label-outline">游戏玩家</span>
              <span class="label label-info label-outline">重度用户</span>
              <span class="label label-primary label-outline">视频用户</span>

            </div>
          </div>
          <!-- END Header Task Details -->

          <p>
            <span>该用户为重度网络使用用户。</span>
          </p>
          <p>
            <span>该用户平均每天在线10小时，48%的数据流量为网络游戏，23%的数据流量用于观看视频直播，18%的数据流量为在线视频。</span>
          </p>

          <!-- START Attachments Section -->
          <div class="hr-text hr-text-left m-t-3">
            <h6 class="text-white">
              <strong class="m-r-1">本周用户流量使用统计
              </strong>
              <span class="badge"></span>
            </h6>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <div class="panel panel-default no-bg b-a-2 b-gray-dark">
                <div class="panel-heading">每日上网时长统计</div>
                <div class="panel-body">

                  <div class="highcharts-basic-column-2"></div>

                </div>

              </div>
            </div>
            <!-- END Basic Column -->

            <!-- START Pie with Legend -->
            <div class="col-lg-4">
              <div class="panel panel-default no-bg b-a-2 b-gray-dark">
                <div class="panel-heading">流量使用占比</div>
                <div class="panel-body">

                  <div class="highcharts-pie-with-legend"></div>

                </div>

              </div>
            </div>
            <!-- END Pie with Legend -->

            <!-- START Basic Column Alt. -->
            <div class="col-lg-4">
              <div class="panel panel-default no-bg b-a-2 b-gray-dark">
                <div class="panel-heading">平均每日带宽占用率</div>
                <div class="panel-body">

                  <div class="highcharts-stacked-area"></div>

                </div>

              </div>
            </div>
            <!-- END Basic Column Alt. -->

          </div>

          <!-- START Comments Section -->
          <div class="hr-text hr-text-left m-t-3">
            <h6 class="text-white">
              <strong class="m-r-1">当前流量实时监控
              </strong>
              <span class="badge"></span>
            </h6>
          </div>



        </div>

      </div>
      <!-- END Panel Sessions -->

      <!-- END EDIT CONTENT -->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="highstock-intraday-area"></div>
    </div>
  </div>
</div>
