<!-- START Sub-Navbar with Header only-->
<div class="sub-navbar sub-navbar__header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header m-t-0">
          <h3 class="m-t-0">Search Results</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END Sub-Navbar with Header only-->

<!-- START Sub-Navbar with Header and Breadcrumbs-->
<div class="sub-navbar sub-navbar__header-breadcrumbs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 sub-navbar-column">
        <div class="sub-navbar-header">
          <h3>查询结果</h3>
        </div>
        <ol class="breadcrumb navbar-text navbar-right no-bg">
          <li class="current-parent">
            <a class="current-parent" href="../index.html">
              <i class="fa fa-fw fa-home"></i>
            </a>
          </li>
          <li class="active">查询结果</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- END Sub-Navbar with Header and Breadcrumbs-->

<div class="container-fluid">
  <!-- START EDIT CONTENT -->

  <div class="row m-t-2">

    <!-- START Left Column -->
    <div class="col-lg-2">
      <div class="row">

        <!-- START Pills -->
        <div class="col-lg-12 col-md-4 col-sm-4  col-xs-12">
          <ul class="nav nav-pills nav-stacked m-b-2">
            <li role="presentation" class="active">
              <a href="search-results.html">所有结果
                <span class="badge pull-right">50</span>
              </a>
            </li>
            <li role="presentation" class="">
              <a href="images-results.html">照片
                <span class="badge pull-right">4</span>
              </a>
            </li>
            <li role="presentation" class="">
              <a href="videos-results.html">施工工单
                <span class="badge pull-right">2</span>
              </a>
            </li>
            <li role="presentation" class="">
              <a href="users-results.html">巡检工单
                <span class="badge pull-right">7</span>
              </a>
            </li>
            <li role="presentation" class="">
              <a href="users-results.html">检修工单
                <span class="badge pull-right">7</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- END Pills -->

        <!-- START Date -->
        <div class="col-lg-12 col-md-4 col-sm-4 col-xs-6">
          <div class="hr-text hr-text-left m-b-1 m-t-0">
            <h6 class="text-white">
              <strong>日期</strong>
            </h6>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" value="option1" checked>
              所有
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" value="option2">
              过去24小时
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" value="option2">
              过去一周
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" value="option2">
              过去一个月
            </label>
          </div>
        </div>
        <!-- END Date -->

        <!-- START Langauge -->

      </div>
      <!-- START Widget - Menu Pills Vertical -->

      <!-- END Widget - Menu Pills Vertical -->

    </div>
    <!-- END Left Column -->

    <!-- START Content -->
    <div class="col-lg-10">

      <!-- START Title Header -->
      <h3 class="f-w-300 m-t-0">查询结果
        <strong>&quot;徐汇光交GJ103&quot;</strong>
        <small class="m-l-1">约 230 条查询结果 ( 0.13 秒)</small>
      </h3>
      <!-- END Title Header -->

      <!-- START Search Input -->
      <div class="input-group m-t-2 m-b-3">
        <input type="text" class="form-control" placeholder="徐汇光交GJ103">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button">
            <i class="fa fa-fw fa-search"></i>
          </button>
        </span>
      </div>
      <!-- END Search Input -->

      <div class="hr-text hr-text-left m-b-2">
        <h6 class="text-white">
          <strong>所有结果</strong>
        </h6>
      </div>

      <!-- START Search Result (0) -->
      <!-- Search Result - Title, URL, Votes -->
      <h4 class="m-b-0">
        <a href="#">
          <span>光交接箱基础信息 - 【徐汇光交GJ103】</span>
        </a>
      </h4>
      <a href="#" class="text-success m-r-2">
        <span>哑资源管理模块</span>
      </a>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star text-warning m-r-2"></i>
      <span>31847</span>
      人访问
      <!-- Search Result - Content -->
      <p class="m-t-1">
        <span>建设时间：2012-12-14，类型：一级光交，规格型号：LX-288，容量：144芯，详细地址：澄浏中路/丰饶路口东北侧......</span>
      </p>
      <hr>
      <!-- END Search Result (0) -->

      <!-- START Search Result (4) -->
      <!-- Search Result - Title, URL, Votes -->
      <h4 class="m-b-0">
        <a href="#">
          <span>巡检工单-2017年6月，徐汇光交巡检</span>
        </a>
      </h4>
      <a href="#" class="text-success m-r-2">
        <span>巡检工单</span>
      </a>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star-o m-r-2"></i>
      <span>99226</span>
      人访问
      <!-- Search Result - Content -->
      <p class="m-t-1">
        <span>对于徐汇光交徐汇光交GJ101、GJ102、GJ103、GJ104、GJ105等进行巡检。</span>
      </p>
      <hr>
      <!-- START Search Result (2) -->
      <!-- Search Result - Title, URL, Votes -->
      <h4 class="m-b-0">
        <a href="#">
          <span>施工工单-龙华大厦业务开通</span>
        </a>
      </h4>
      <a href="#" class="text-success m-r-2">
        <span>施工工单</span>
      </a>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star-o"></i>
      <i class="fa fa-fw fa-star-o"></i>
      <i class="fa fa-fw fa-star-o m-r-2"></i>
      <span>32237</span>
      人访问
      <!-- Search Result - Content -->
      <p class="m-t-1">
        <span>开通龙华大厦的家宽业务，需要在徐汇光交GJ103进行跳纤作业......</span>
      </p>
      <hr>
      <!-- END Search Result (4) -->
      <!-- Search Result - Title, URL, Votes -->
      <h4 class="m-b-0">
        <a href="#">
          <span>巡检工单-2017年5月，徐汇光交巡检</span>
        </a>
      </h4>
      <a href="#" class="text-success m-r-2">
        <span>巡检工单</span>
      </a>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star-o m-r-2"></i>
      <span>99226</span>
      人访问
      <!-- Search Result - Content -->
      <p class="m-t-1">
        <span>对于徐汇光交徐汇光交GJ101、GJ102、GJ103、GJ104、GJ105等进行巡检。</span>
      </p>
      <hr>
      <!-- END Search Result (4) -->
      <!-- Search Result - Title, URL, Votes -->
      <h4 class="m-b-0">
        <a href="#">
          <span>巡检工单-2017年4月，徐汇光交巡检</span>
        </a>
      </h4>
      <a href="#" class="text-success m-r-2">
        <span>巡检工单</span>
      </a>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star-o m-r-2"></i>
      <span>99226</span>
      人访问
      <!-- Search Result - Content -->
      <p class="m-t-1">
        <span>对于徐汇光交徐汇光交GJ101、GJ102、GJ103、GJ104、GJ105等进行巡检。</span>
      </p>
      <hr>
      <!-- END Search Result (4) -->
      <!-- Search Result - Title, URL, Votes -->
      <h4 class="m-b-0">
        <a href="#">
          <span>巡检工单-2017年3月，徐汇光交巡检</span>
        </a>
      </h4>
      <a href="#" class="text-success m-r-2">
        <span>巡检工单</span>
      </a>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star-o m-r-2"></i>
      <span>99226</span>
      人访问
      <!-- Search Result - Content -->
      <p class="m-t-1">
        <span>对于徐汇光交徐汇光交GJ101、GJ102、GJ103、GJ104、GJ105等进行巡检。</span>
      </p>
      <hr>
      <!-- END Search Result (4) -->
      <!-- Search Result - Title, URL, Votes -->
      <h4 class="m-b-0">
        <a href="#">
          <span>巡检工单-2017年2月，徐汇光交巡检</span>
        </a>
      </h4>
      <a href="#" class="text-success m-r-2">
        <span>巡检工单</span>
      </a>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star-o m-r-2"></i>
      <span>99226</span>
      人访问
      <!-- Search Result - Content -->
      <p class="m-t-1">
        <span>对于徐汇光交徐汇光交GJ101、GJ102、GJ103、GJ104、GJ105等进行巡检。</span>
      </p>
      <hr>
      <!-- END Search Result (4) -->
      <!-- Search Result - Title, URL, Votes -->
      <h4 class="m-b-0">
        <a href="#">
          <span>巡检工单-2017年1月，徐汇光交巡检</span>
        </a>
      </h4>
      <a href="#" class="text-success m-r-2">
        <span>巡检工单</span>
      </a>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star text-warning"></i>
      <i class="fa fa-fw fa-star-o m-r-2"></i>
      <span>99226</span>
      人访问
      <!-- Search Result - Content -->
      <p class="m-t-1">
        <span>对于徐汇光交徐汇光交GJ101、GJ102、GJ103、GJ104、GJ105等进行巡检。</span>
      </p>
      <hr>
      <!-- END Search Result (4) -->


      <!-- END Search Result (2) -->

      <!-- START Pagination -->
      <div class="text-center">
        <nav>
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&#xAB;</span>
              </a>
            </li>
            <li class="active">
              <a href="#">1</a>
            </li>
            <li>
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
            <li>
              <a href="#">4</a>
            </li>
            <li>
              <a href="#">5</a>
            </li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&#xBB;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- START Pagination -->

    </div>
    <!-- END Content -->

  </div>

  <!-- END EDIT CONTENT -->
</div>
