<div class="container-fluid" style="padding-top: 20px;">

  <div class="row">
    <div class="col-lg-12">

      <div class="row m-t-1">

        <!-- START Revenue -->
        <div class="col-lg-3 col-md-4">
          <div class="panel panel-default b-a-0 bg-primary-i">
            <div class="panel-heading b-b-0">今日哑资源数据校准
              <span class="label label-white label-outline pull-right"></span>
            </div>
            <div class="panel-body text-center p-t-0">
              <h1 class="m-t-0 m-b-0 f-w-300">6</h1>
              <p class="text-white">本周哑资源数据校准：59 次</p>
            </div>
            <div class="panel-footer text-center">
              <a href="#" class="text-muted">查看更多<i class="m-l-1 fa fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- END Revenue -->

        <!-- START Total Item Sold -->
        <div class="col-lg-3 col-md-4">
          <div class="panel panel-default b-a-0 bg-gray-dark bg-success-i">
            <div class="panel-heading b-b-0">今日用户投诉量
              <span class="label label-white label-outline  pull-right"></span>
            </div>
            <div class="panel-body text-center p-t-0">
              <h1 class="m-t-0 m-b-0 f-w-300">18</h1>
              <p class="text-white">本周用户投诉量：128 起</p>
            </div>
            <div class="panel-footer text-center">
              <a href="#" class="text-muted">查看更多<i class="m-l-1 fa fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- END Total Item Sold -->

        <!-- START Total Visitor -->
        <div class="col-lg-3 col-md-4">
          <div class="panel panel-default b-a-0 bg-gray-dark bg-warning-i">
            <div class="panel-heading b-b-0">今日家宽装机量
              <span class="label label-white label-outline pull-right"></span>
            </div>
            <div class="panel-body text-center p-t-0">
              <h1 class="m-t-0 m-b-0 f-w-300">245</h1>
              <p class="text-white">本周装机量：2345户</p>
            </div>
            <div class="panel-footer text-center">
              <a href="#" class="text-muted">查看更多<i class="m-l-1 fa fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- END Total Visitor -->

        <!-- START Total Visitor -->
        <div class="col-lg-3 col-md-4">
          <div class="panel panel-default b-a-0 bg-gray-dark bg-danger-i">
            <div class="panel-heading b-b-0">今日家宽拆机量
              <span class="label label-white label-outline  pull-right"></span>
            </div>
            <div class="panel-body text-center p-t-0">
              <h1 class="m-t-0 m-b-0 f-w-300">88</h1>
              <p class="text-white">本周家宽拆机量：349 户</p>
            </div>
            <div class="panel-footer text-center">
              <a href="#" class="text-muted">查看更多<i class="m-l-1 fa fa-angle-right"></i>
              </a>
            </div>
          </div>

        </div>
        <!-- END Total Visitor -->

      </div>
      <!-- END ROWs #1 -->

    </div>
  </div>

  <!-- START ROWs #1 -->

  <!-- START ROWs #1 -->
  <div class="row m-t-1 m-b-2">

    <!-- START Visitor Chart -->
    <div class="col-lg-12">

      <!-- START ROW Table & Chart -->
      <div class="row">

        <!-- START Visited -->
        <div class="col-lg-6">
          <div class="hr-text hr-text-left m-b-0">
            <h6 class="text-white">
              <strong>本周用户投诉量统计</strong>
            </h6>
          </div>
          <div class="highcharts-community-complaint" style='height:250px;'></div>

        </div>
        <!-- END Visited -->

        <!-- START Visitor Chart -->
        <div class="col-lg-6">
          <div class="hr-text hr-text-left m-b-0">
            <h6 class="text-white">
              <strong>本周家宽业务量统计</strong>
            </h6>
          </div>
          <div class="highcharts-community-stat" style='height:250px;'></div>
        </div>
        <!-- END Visitor Chart -->
      </div>
      <!-- END ROW Table & Chart -->

    </div>

    <!-- END Revenue -->

  </div>
  <!-- END ROWs #1 -->

  <div class="row">
    <div class="col-lg-12 m-t-2">


      <!-- START ROW #2 -->
      <div class="row m-t-3">

        <!-- START My Tasks -->
        <div class="col-lg-4">
          <div class="panel panel-default no-bg b-a-2 b-gray-dark">

            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-4 col-xs-4">今日投诉</div>
                <div class="col-sm-4 col-xs-4 col-xs-offset-4 col-sm-offset-4 text-right">
                  <button class="btn btn-xs btn-default">
                    <i class="fa fa-pencil"></i>
                  </button>
                </div>
              </div>
            </div>

            <ul class="list-group scroll-600 custom-scrollbar">
              <li class="list-group-item no-bg">
                <div class="media">
                  <div class="media-body">
                    <div class="checkbox m-b-0 m-t-0">
                      <label>
                        <input type="checkbox" value="">
                        <a href="../apps/tasks-details.html">
                          <span>【徐汇区，航天公寓2期，306室，王女士，15655515511】网络不稳定，上网速度有时候很慢，而且持续会很长时间</span>
                        </a>
                        <br>
                        <span class="m-t-1 small">
                          <span>2017-6-18 12:34:12</span>
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="media-right media-middle text-right">
                    <i class="fa fa-fw fa-circle text-danger"></i>
                  </div>
                </div>
              </li>
              <li class="list-group-item no-bg">
                <div class="media">
                  <div class="media-body">
                    <div class="checkbox m-b-0 m-t-0">
                      <label>
                        <input type="checkbox" value="" checked>
                        <del>
                          <a href="../apps/tasks-details.html" class="text-muted">
                            <span>【静安区，龙华大厦，303室，李先生，15655551553】家里不能上网，希望尽快解决</span>
                          </a>
                        </del>
                        <br>
                        <span class="m-t-1 small">
                          <span>2017-6-18 12:24:42</span>
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="media-right media-middle text-right">
                    <i class="fa fa-fw fa-circle text-gray-lighter"></i>
                  </div>
                </div>
              </li>
              <li class="list-group-item no-bg">
                <div class="media">
                  <div class="media-body">
                    <div class="checkbox m-b-0 m-t-0">
                      <label>
                        <input type="checkbox" value="" checked>
                        <del>
                          <a href="../apps/tasks-details.html" class="text-muted">
                            <span>【普陀区，东方城市花园1期，301室，李先生，13275555569】上网速度变慢</span>
                          </a>
                        </del>
                        <br>
                        <span class="m-t-1 small">
                          <span>2017-6-18 11:56:32</span>
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="media-right media-middle text-right">
                    <i class="fa fa-fw fa-circle text-primary"></i>
                  </div>
                </div>
              </li>
              <li class="list-group-item no-bg">
                <div class="media">
                  <div class="media-body">
                    <div class="checkbox m-b-0 m-t-0">
                      <label>
                        <input type="checkbox" value="">
                        <a href="../apps/tasks-details.html">
                          <span>【徐汇区，惠工新村，201室，王先生，13095553355】光猫好像坏掉量，通电后没有显示，电源插座确认是有电的</span>
                        </a>
                        <br>
                        <span class="m-t-1 small">
                          <span>2017-6-18 11:46:19</span>
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="media-right media-middle text-right">
                    <i class="fa fa-fw fa-circle text-success"></i>
                  </div>
                </div>
              </li>
              <li class="list-group-item no-bg">
                <div class="media">
                  <div class="media-body">
                    <div class="checkbox m-b-0 m-t-0">
                      <label>
                        <input type="checkbox" value="">
                        <a href="../apps/tasks-details.html">
                          <span>【徐汇区，惠工新村，406室，朱先生，13145557204】宽带不稳定，时快时慢</span>
                        </a>
                        <br>
                        <span class="m-t-1 small">
                          <span>2017-6-18 11:38:34</span>
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="media-right media-middle text-right">
                    <i class="fa fa-fw fa-circle text-danger"></i>
                  </div>
                </div>
              </li>
              <li class="list-group-item no-bg">
                <div class="media">
                  <div class="media-body">
                    <div class="checkbox m-b-0 m-t-0">
                      <label>
                        <input type="checkbox" value="" checked>
                        <del>
                          <a href="../apps/tasks-details.html" class="text-muted">
                            <span>【徐汇区，惠工新村，306室，陈先生，13145554620】网速感觉不理想，打游戏时经常卡顿，现在是100M的宽带套餐</span>
                          </a>
                        </del>
                        <br>
                        <span class="m-t-1 small">
                          <span>2017-6-18 11:05:52</span>
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="media-right media-middle text-right">
                    <i class="fa fa-fw fa-circle text-gray-lighter"></i>
                  </div>
                </div>
              </li>
              <li class="list-group-item no-bg">
                <div class="media">
                  <div class="media-body">
                    <div class="checkbox m-b-0 m-t-0">
                      <label>
                        <input type="checkbox" value="" checked>
                        <del>
                          <a href="../apps/tasks-details.html" class="text-muted">
                            <span>【黄浦区，万科魅力城，6单元806室，李先生，13698120628】光猫坏掉了，需要更换</span>
                          </a>
                        </del>
                        <br>
                        <span class="m-t-1 small">
                          <span>2017-6-18 11:01:02</span>
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="media-right media-middle text-right">
                    <i class="fa fa-fw fa-circle text-primary"></i>
                  </div>
                </div>
              </li>
              <li class="list-group-item no-bg">
                <div class="media">
                  <div class="media-body">
                    <div class="checkbox m-b-0 m-t-0">
                      <label>
                        <input type="checkbox" value="">
                        <a href="../apps/tasks-details.html">
                          <span>【浦东，上南花院，2302室，颜先生，15800779168】家里不能上网</span>
                        </a>
                        <br>
                        <span class="m-t-1 small">
                          <span>2017-6-18 10:46:12</span>
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="media-right media-middle text-right">
                    <i class="fa fa-fw fa-circle text-success"></i>
                  </div>
                </div>
              </li>
            </ul>
            <!-- END Scroll Inside Panel -->

            <ul class="list-group">
              <li class="list-group-item no-bg text-center">
                <a href="../apps/tasks-list.html">查看更多
                  <i class="fa fa-angle-right"></i>
                </a>
              </li>
            </ul>

          </div>
        </div>
        <!-- END My Tasks -->

        <!-- START My Projects - Timeline -->
        <div class="col-lg-4">
          <div class="panel panel-default no-bg b-a-2  b-gray-dark">

            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-4 col-xs-4">资源巡检情况汇报</div>
                <div class="col-sm-4 col-xs-4 col-xs-offset-4 col-sm-offset-4 text-right">
                  <button class="btn btn-xs btn-default">
                    <i class="fa fa-pencil"></i>
                  </button>
                </div>
              </div>
            </div>
            <!-- START Scroll Inside Panel -->
            <div class="scroll-640 custom-scrollbar">
              <div class="panel-body">
                <!-- START Timeline - Active Entry (Day) -->
                <div class="timeline">
                  <!-- Timeline - Badge Date -->
                  <div class="timeline-date">
                    <span class="badge">今天</span>
                  </div>
                  <div class="timeline-item p-r-1">
                    <!-- Timeline - Mini Icon -->
                    <div class="timeline-icon">
                      <i class="fa fa-fw fa-times-circle text-danger"></i>
                    </div>

                    <!-- Timeline - Icon  -->
                    <div class="timeline-item-head clearfix m-b-0">
                      <!-- Timeline - Header & Subtitle -->

                      <!-- START Avatar, Message & Time -->
                      <div class="row">

                        <div class="col-lg-12 m-l-1">

                          <span class="label label-danger label-outline">危险</span>
                          <br>
                          <p class="text-white m-t-1">
                            <span>世博大道与世博管路交界处，井盖出现问题，需要立即更换</span>
                          </p>
                          <p class="text-nowrap small">
                            <span>李强，2017-6-18 10:46:12</span>
                          </p>
                          <div class="m-b-1">
                            <img class="img-rounded avatar avatar-lg" src="/images/broken/manhole.jpg" alt="Avatar">
                            <img class="img-rounded avatar avatar-lg" src="/images/broken/manhole.jpg" alt="Avatar">
                          </div>
                        </div>
                      </div>
                      <!-- END Avatar, Message & Time -->

                    </div>
                  </div>
                </div>
                <!-- END Timeline - Active Entry (Day) -->

                <!-- START Timeline - Active Entry -->
                <div class="timeline">
                  <div class="timeline-item p-r-1">
                    <!-- Timeline - Mini Icon -->
                    <div class="timeline-icon">
                      <i class="fa fa-fw fa-exclamation-circle text-warning"></i>
                    </div>

                    <!-- Timeline - Icon  -->
                    <div class="timeline-item-head clearfix m-b-0">
                      <!-- Timeline - Header & Subtitle -->

                      <!-- START Avatar, Message & Time -->
                      <div class="row">

                        <div class="col-lg-12 m-l-1">

                          <span class="label label-warning label-outline">警告</span>
                          <br>
                          <p class="text-white m-t-1">
                            <span>嘉定区，塔新路与倪家浜路交界处，电杆开始倾斜</span>
                          </p>
                          <p class="text-nowrap small">
                            <span>王凯明，2017-6-18 10:28:02</span>
                          </p>
                          <div class="m-b-1">
                            <img class="img-rounded avatar avatar-lg" src="/images/broken/pole.jpg" alt="Avatar">
                            <img class="img-rounded avatar avatar-lg" src="/images/broken/pole.jpg" alt="Avatar">
                          </div>
                        </div>
                      </div>
                      <!-- END Avatar, Message & Time -->

                    </div>
                  </div>
                </div>
                <!-- END Timeline - Active Entry -->

              </div>
            </div>

          </div>
        </div>
        <!-- END My Projects - Timeline -->

        <!-- START My Projects -->
        <div class="col-lg-4">
          <div class="panel panel-default bg-gray-dark b-a-0">

            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-4 col-xs-4">当前的巡检任务</div>
                <div class="col-sm-4 col-xs-4 col-xs-offset-4 col-sm-offset-4 text-right">
                  <a role="button" class="btn btn-xs btn-default" href="../apps/tasks-details.html">
                    <i class="fa fa-plus"></i>
                  </a>
                </div>
              </div>
            </div>

            <!-- START Scroll Inside Panel -->
            <ul class="list-group scroll-600 custom-scrollbar">

              <!-- START Project -->
              <li class="list-group-item no-bg b-t-0">
                <!-- START Media Task Name -->
                <div class="media m-t-0">
                  <div class="media-body">
                    <!-- START ID & Title Task -->
                    <h5 class="m-b-1">
                      <a href="../apps/tasks-grid.html">徐汇区光交巡检任务</a>
                    </h5>
                    <!-- END ID & Title Task -->
                  </div>
                  <div class="media-right media-middle">
                    <span class="label label-success label-outline">正在执行</span>
                  </div>
                </div>
                <!-- END Media Task Name -->
                <div class="progress b-r-a-0 m-t-0 m-b-1 h-3">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
                <div class="row m-b-2">
                  <div class="col-sm-4 col-xs-4 text-center">
                    <h4 class="m-t-0 f-w-300 m-b-0">67%</h4>
                    <p class="text-center m-b-0">已完成</p>
                  </div>
                  <div class="col-sm-4 col-xs-4 text-center">
                    <h4 class="m-t-0 f-w-300 m-b-0">3</h4>
                    <p class="text-center m-b-0">
                      数据更新</p>
                  </div>
                  <div class="col-sm-4 col-xs-4 text-center">
                    <h4 class="m-t-0 f-w-300 m-b-0">28</h4>
                    <p class="text-center m-b-0">
                      剩余数量</p>
                  </div>
                </div>
              </li>
              <!-- END Project -->

              <!-- START Project -->
              <li class="list-group-item no-bg">
                <!-- START Media Task Name -->
                <div class="media m-t-0">
                  <div class="media-body">
                    <!-- START ID & Title Task -->
                    <h5 class="m-b-1">
                      <a href="../apps/tasks-grid.html">普陀区光交巡检任务</a>
                    </h5>
                    <!-- END ID & Title Task -->
                  </div>
                  <div class="media-right media-middle">
                    <span class="label label-success label-outline">正在执行</span>
                  </div>
                </div>
                <!-- END Media Task Name -->
                <div class="progress b-r-a-0 m-t-0 m-b-1 h-3">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
                <div class="row m-b-2">
                  <div class="col-sm-4 col-xs-4 text-center">
                    <h4 class="m-t-0 f-w-300 m-b-0">12%</h4>
                    <p class="text-center m-b-0">已完成</p>
                  </div>
                  <div class="col-sm-4 col-xs-4 text-center">
                    <h4 class="m-t-0 f-w-300 m-b-0">89</h4>
                    <p class="text-center m-b-0">
                      数据更新</p>
                  </div>
                  <div class="col-sm-4 col-xs-4 text-center">
                    <h4 class="m-t-0 f-w-300 m-b-0">210</h4>
                    <p class="text-center m-b-0">
                      剩余数量</p>
                  </div>
                </div>
              </li>
              <!-- END Project -->

              <!-- START Project -->
              <li class="list-group-item no-bg">
                <!-- START Media Task Name -->
                <div class="media m-t-0">
                  <div class="media-body">
                    <!-- START ID & Title Task -->
                    <h5 class="m-b-1">
                      <a href="../apps/tasks-grid.html">一干光缆巡检</a>
                    </h5>
                    <!-- END ID & Title Task -->
                  </div>
                  <div class="media-right media-middle">
                    <span class="label label-success label-outline">正在执行</span>
                  </div>
                </div>
                <!-- END Media Task Name -->
                <div class="progress b-r-a-0 m-t-0 m-b-1 h-3">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                    <span class="sr-only">10% Complete</span>
                  </div>
                </div>
                <div class="row m-b-2">
                  <div class="col-sm-4 col-xs-4 text-center">
                    <h4 class="m-t-0 f-w-300 m-b-0">10%</h4>
                    <p class="text-center m-b-0">已完成</p>
                  </div>
                  <div class="col-sm-4 col-xs-4 text-center">
                    <h4 class="m-t-0 f-w-300 m-b-0">3</h4>
                    <p class="text-center m-b-0">
                      发现安全隐患</p>
                  </div>
                  <div class="col-sm-4 col-xs-4 text-center">
                    <h4 class="m-t-0 f-w-300 m-b-0">1234 沟公里</h4>
                    <p class="text-center m-b-0">
                      剩余数量</p>
                  </div>
                </div>
              </li>
              <!-- END Project -->

              <!-- START Project -->
              <li class="list-group-item no-bg">
                <!-- START Media Task Name -->
                <div class="media m-t-0">
                  <div class="media-body">
                    <!-- START ID & Title Task -->
                    <h5 class="m-b-1">
                      <a href="../apps/tasks-grid.html">静安区光交箱巡检</a>
                    </h5>
                    <!-- END ID & Title Task -->
                  </div>
                  <div class="media-right media-middle">
                    <span class="label label-gray-lighter label-outline">未执行</span>
                  </div>
                </div>
                <!-- END Media Task Name -->
                <div class="progress b-r-a-0 m-t-0 m-b-1 h-3">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    <span class="sr-only">0% Complete</span>
                  </div>
                </div>
                <div class="row m-b-2">
                  <div class="col-sm-4 col-xs-4 text-center">
                    <h4 class="m-t-0 f-w-300 m-b-0">0%</h4>
                    <p class="text-center m-b-0">已完成</p>
                  </div>
                  <div class="col-sm-4 col-xs-4 text-center">
                    <h4 class="m-t-0 f-w-300 m-b-0">0</h4>
                    <p class="text-center m-b-0">
                      数据更新</p>
                  </div>
                  <div class="col-sm-4 col-xs-4 text-center">
                    <h4 class="m-t-0 f-w-300 m-b-0">346</h4>
                    <p class="text-center m-b-0">
                      剩余数量</p>
                  </div>
                </div>
              </li>
              <!-- END Project -->

              <!-- END Project -->
              <ul class="list-group">
                <li class="list-group-item no-bg text-center">
                  <a href="../apps/projects-grid.html">查看更多
                    <i class="fa fa-angle-right"></i>
                  </a>
                </li>
              </ul>

            </div>
          </div>
          <!-- END My Tasks -->

        </div>
        <!-- END ROW #2 -->

      </div>
    </div>
  </div>
