<!-- START Sub-Navbar with Header and Breadcrumbs-->
<div class="sub-navbar sub-navbar__header-breadcrumbs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 sub-navbar-column">
        <div class="sub-navbar-header">
          <h3>规则引擎设置</h3>
        </div>
        <ol class="breadcrumb navbar-text navbar-right no-bg">
          <li class="current-parent">
            <a class="current-parent" href="/monitor/asset-status'">
              <i class="fa fa-fw fa-dashboard"></i>
            </a>
          </li>
          <li class="current-parent">设置</li>
          <li class="active">规则引擎设置</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<!-- END Sub-Navbar with Header and Breadcrumbs-->

<div class="container-fluid" style="">

  <div class="row">
    <div class="col-lg-12">

      <div class="panel panel-default">
        <div class="panel-heading panel-heading b-b-warning b-b-2">
          <h3 class="panel-title">规则引擎列表</h3>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="small text-muted text-uppercase">
                <strong>Ticket</strong>
              </th>
              <th class="small text-muted text-uppercase">
                <strong>Completion</strong>
              </th>
              <th class="small text-muted text-uppercase">
                <strong>Create</strong>
              </th>
              <th class="small text-muted text-uppercase">
                <strong>Deadline</strong>
              </th>
              <th class="small text-muted text-uppercase">
                <strong>Actions</strong>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="v-a-m">
                <span class="text-white">Front-line radical leverage</span>
              </td>
              <td class="v-a-m">
                <div class="progress b-r-a-0 m-t-0 m-b-0 h-3">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
              </td>
              <td class="v-a-m">
                <span>November 15, Saturday, 2015</span>
              </td>
              <td class="v-a-m">
                <span>August 28, Thursday, 2016</span>
              </td>
              <td class="text-right v-a-m">
                <div class="btn-group" role="group" aria-label="...">
                  <button type="button" class="btn  btn-default">
                    <i class="fa fa-clone"></i>
                  </button>
                  <button type="button" class="btn  btn-default">
                    <i class="fa fa-close"></i>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                <span class="text-white">Multi-layered tangible capability</span>
              </td>
              <td class="v-a-m">
                <div class="progress b-r-a-0 m-t-0 m-b-0 h-3">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
              </td>
              <td class="v-a-m">
                <span>March 15, Wednesday, 2015</span>
              </td>
              <td class="v-a-m">
                <span>March 28, Thursday, 2016</span>
              </td>
              <td class="text-right v-a-m">
                <div class="btn-group" role="group" aria-label="...">
                  <button type="button" class="btn  btn-default">
                    <i class="fa fa-clone"></i>
                  </button>
                  <button type="button" class="btn  btn-default">
                    <i class="fa fa-close"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
