<!-- START Sub-Navbar with Header and Breadcrumbs-->
<div class="sub-navbar sub-navbar__header-breadcrumbs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 sub-navbar-column">
        <div class="sub-navbar-header">
          <h3>巡检管理</h3>
        </div>
        <ol class="breadcrumb navbar-text navbar-right no-bg">
          <li class="current-parent">
            <a class="current-parent" href="/welcome/manager">
              <i class="fa fa-fw fa-home"></i>
            </a>
          </li>
          <li class="active">巡检管理</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- END Sub-Navbar with Header and Breadcrumbs-->

<div class="container-fluid">
  <!-- START EDIT CONTENT -->

  <div class="row">

    <!-- START Left Column -->
    <div class="col-lg-3">

      <!-- START Search -->
      <div class="hr-text hr-text-left m-t-0 m-b-1">
        <h6 class="text-white">
          <strong>查询</strong>
        </h6>
      </div>

      <div class="input-group">
        <input type="text" class="form-control" aria-label="..." placeholder="请输入关键字...">
        <div class="input-group-btn">
          <a role="button" class="btn btn-primary" href="search-results.html">
            <i class="fa fa-search"></i>
          </a>
        </div>
      </div>
      <!-- END Search -->

      <!-- START Favorites -->
      <div class="hr-text hr-text-left m-t-3 m-b-1">
        <h6 class="text-white">
          <strong>收藏夹</strong>
        </h6>
      </div>

      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="">
          <a href="/inspection/pipe">
            <i class="fa fa-fw fa-star text-muted  m-r-1"></i>徐汇到嘉定一干光缆巡检任务
          </a>
        </li>
        <li role="presentation">
          <a href="/inspection/pipe">
            <i class="fa fa-fw fa-star  text-gray-lighter m-r-1"></i>徐汇到松江一干光缆巡检任务
          </a>
        </li>
      </ul>
      <!-- END Favorites -->

      <!-- START Projects -->
      <div class="hr-text hr-text-left m-t-2 m-b-1">
        <h6 class="text-white">
          <strong>巡检类型</strong>
        </h6>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="">
          <a href="#">
            <i class="fa fa-fw fa-circle text-gray-lighter m-r-1"></i>光交箱巡检
            <span class="badge pull-right">13</span>
          </a>
        </li>
        <li role="presentation">
          <a href="#">
            <i class="fa fa-fw fa-circle text-gray-lighter m-r-1"></i>一干、骨干光缆巡检
            <span class="badge pull-right">34</span>
          </a>
        </li>
        <li role="presentation">
          <a href="#">
            <i class="fa fa-fw fa-circle text-gray-lighter m-r-1"></i>城域网光缆巡检
            <span class="badge pull-right">5</span>
          </a>
        </li>
        <li role="presentation">
          <a href="#">
            <i class="fa fa-fw fa-circle text-gray-lighter m-r-1"></i>电杆巡检
            <span class="badge pull-right">19</span>
          </a>
        </li>
      </ul>
      <!-- END Projects -->

      <!-- START People -->
      <div class="hr-text hr-text-left m-t-2 m-b-1">
        <h6 class="text-white">
          <strong>相关巡检人员</strong>
        </h6>
      </div>

      <!-- START Widget - Menu Pills Vertical -->
      <div class="scroll-300 custom-scrollbar">
        <ul class="nav nav-pills nav-stacked">

          <!-- START User Online (Small) -->
          <li role="presentation">
            <a href="users-grid.html">
              <div class="media">
                <div class="media-left">
                  <div class="avatar avatar-image avatar-sm ">
                    <img class="media-object img-circle" src="/images/avatar4.jpg" alt="Avatar">
                  </div>
                </div>
                <div class="media-body">
                  <h5 class="m-t-0 m-b-0">
                    <span>汪海明</span>
                  </h5>
                  <p class="small text-gray-lighter m-b-0">
                    <span>广州宜通</span>
                  </p>
                </div>

                <div class="media-right">

                  <i class="fa fa-fw fa-circle text-success" data-toggle="tooltip" data-placement="left" title="Online"></i>

                </div>

              </div>
            </a>
          </li>
          <!-- START User Online (Small) -->
          <!-- START User Online (Small) -->
          <li role="presentation">
            <a href="users-grid.html">
              <div class="media">
                <div class="media-left">
                  <div class="avatar avatar-image avatar-sm ">
                    <img class="media-object img-circle" src="/images/avatar1.jpg" alt="Avatar">
                  </div>
                </div>
                <div class="media-body">
                  <h5 class="m-t-0 m-b-0">
                    <span>蒋利民</span>
                  </h5>
                  <p class="small text-gray-lighter m-b-0">
                    <span>广州宜通</span>
                  </p>
                </div>

                <div class="media-right">

                  <i class="fa fa-fw fa-circle text-success" data-toggle="tooltip" data-placement="left" title="Online"></i>

                </div>

              </div>
            </a>
          </li>
          <!-- START User Online (Small) -->
          <!-- START User Online (Small) -->
          <li role="presentation">
            <a href="users-grid.html">
              <div class="media">
                <div class="media-left">
                  <div class="avatar avatar-image avatar-sm ">
                    <img class="media-object img-circle" src="/images/avatar2.jpg" alt="Avatar">
                  </div>
                </div>
                <div class="media-body">
                  <h5 class="m-t-0 m-b-0">
                    <span>李海波</span>
                  </h5>
                  <p class="small text-gray-lighter m-b-0">
                    <span>广州宜通</span>
                  </p>
                </div>

                <div class="media-right">

                  <i class="fa fa-fw fa-circle text-success" data-toggle="tooltip" data-placement="left" title="Online"></i>

                </div>

              </div>
            </a>
          </li>
          <!-- START User Online (Small) -->
          <!-- START User Online (Small) -->
          <li role="presentation">
            <a href="users-grid.html">
              <div class="media">
                <div class="media-left">
                  <div class="avatar avatar-image avatar-sm ">
                    <img class="media-object img-circle" src="/images/avatar3.jpg" alt="Avatar">
                  </div>
                </div>
                <div class="media-body">
                  <h5 class="m-t-0 m-b-0">
                    <span>王树文</span>
                  </h5>
                  <p class="small text-gray-lighter m-b-0">
                    <span>广州宜通</span>
                  </p>
                </div>

                <div class="media-right">

                  <i class="fa fa-fw fa-circle text-success" data-toggle="tooltip" data-placement="left" title="Online"></i>

                </div>

              </div>
            </a>
          </li>
          <!-- START User Online (Small) -->

        </ul>
      </div>
      <!-- END Widget - Menu Pills Vertical -->
      <!-- END People -->

    </div>
    <!-- END Left Column -->

    <div class="col-lg-9">

      <!-- START Header with Option -->
      <div class="row m-b-1">
        <div class="col-md-4 col-sm-6  col-xs-6">
          <!-- START Header -->
          <h3 class="f-w-300 m-t-1">巡检任务视图
            <span class="badge m-l-1 hidden-xs">5</span>
          </h3>
          <!-- END Header -->
        </div>
        <div class="col-md-4 col-xs-6 col-md-offset-4 col-sm-4 col-sm-offset-2">
          <!-- START Toolbar -->
          <div class="btn-toolbar pull-right">
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-primary">
                <span class="hidden-md hidden-sm hidden-xs">新建巡检任务</span>
                <i class="fa fa-fw fa-plus"></i>
              </button>
            </div>
          </div>
          <!-- END Toolbar -->
        </div>
      </div>
      <!-- END Header with Option -->

      <div class="row">

        <!-- START Grid -->
        <div class="col-lg-6 col-md-6">

          <!-- START Project Grid -->
          <div class="panel panel-default  b-a-2 no-bg b-gray-dark">
            <div class="panel-body">
              <!-- START Label -->
              <span class="label label-info label-outline">一干、骨干光缆巡检</span>
              <span class="label label-success label-outline">正在执行</span>
              <!-- END Label -->
              <!-- START Media Task Name -->
              <div class="media m-t-0">
                <div class="media-left media-middle">
                  <!-- START Star -->
                  <a href="#" class="text-muted" data-toggle="tooltip" data-placement="top" title="Add to Favorites">
                    <i class="fa fa-fw fa-lg fa-star-o"></i>
                  </a>
                  <!-- END Star -->
                </div>
                <div class="media-body">
                  <!-- START ID & Title Task -->
                  <h4 class="m-b-1">
                    <a href="/inspection/pipe">徐汇到嘉定一干光缆巡检任务</a>
                  </h4>
                  <!-- END ID & Title Task -->
                </div>
              </div>
              <!-- END Media Task Name -->
              计划完成时间：<span>2017-8-15,
              </span>
              <span class="text-success">剩余21天</span>
              <br>
              最后更新：
              <a href="profile-details.html" class="text-white">
                <span>汪海明</span>
              </a>
              <span>2017-7-16</span>
            </div>
            <ul class="list-group no-bg">
              <li class="list-group-item  no-bg">
                <!-- START Widget - Usage -->
                <div class="progress b-r-a-0 m-t-0 m-b-1 h-3">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
                <span class="m-t-0">
                  任务完成率：
                  <span class="text-white">68%</span>
                </span>
                <!-- END Widget - Usage -->
              </li>
              <li class="list-group-item  no-bg">
                <a href="profile-details.html"><img class="img-circle avatar avatar-sm" src="/images/avatar1.jpg" alt="Avatar"></a>
                <a href="profile-details.html"><img class="img-circle avatar avatar-sm" src="/images/avatar2.jpg" alt="Avatar"></a>
              </li>
              <li class="list-group-item  no-bg">
                <!-- START Dropdown SM Actions -->
                <div class="btn-group pull-right">
                  <button type="button" class="btn btn-default  btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-gear"></i>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                      <a href="tasks-list.html">
                        <i class="fa fa-fw fa-folder-open text-gray-lighter m-r-1"></i>
                        查看详情</a>
                    </li>
                    <li>
                      <a href="files-list.html">
                        <i class="fa fa-fw fa-paperclip text-gray-lighter m-r-1"></i>
                        添加附件</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      <a href="#" data-toggle="modal" data-target=".modal-alert-danger">
                        <i class="fa fa-fw fa-trash text-gray-lighter m-r-1"></i>
                        删除任务</a>
                    </li>
                  </ul>
                </div>
                <!-- END Dropdown SM Actions -->
                任务开始于:
                <span>2017-7-10，距今已经16天</span>
              </li>
            </ul>
          </div>
          <!-- END Project Grid -->
        </div>
        <div class="col-lg-6 col-md-6">

          <!-- START Project Grid -->
          <div class="panel panel-default  b-a-2 no-bg b-gray-dark">
            <div class="panel-body">
              <!-- START Label -->
              <span class="label label-info label-outline">一干、骨干光缆巡检</span>
              <span class="label label-success label-outline">正在执行</span>
              <!-- END Label -->
              <!-- START Media Task Name -->
              <div class="media m-t-0">
                <div class="media-left media-middle">
                  <!-- START Star -->
                  <a href="#" class="text-muted" data-toggle="tooltip" data-placement="top" title="Add to Favorites">
                    <i class="fa fa-fw fa-lg fa-star-o"></i>
                  </a>
                  <!-- END Star -->
                </div>
                <div class="media-body">
                  <!-- START ID & Title Task -->
                  <h4 class="m-b-1">
                    <a href="/inspection/pipe">徐汇到松江一干光缆巡检任务</a>
                  </h4>
                  <!-- END ID & Title Task -->
                </div>
              </div>
              <!-- END Media Task Name -->
              计划完成时间：<span>2017-8-15,
              </span>
              <span class="text-success">剩余21天</span>
              <br>
              最后更新：
              <a href="profile-details.html" class="text-white">
                <span>汪海明</span>
              </a>
              <span>2017-7-16</span>
            </div>
            <ul class="list-group no-bg">
              <li class="list-group-item  no-bg">
                <!-- START Widget - Usage -->
                <div class="progress b-r-a-0 m-t-0 m-b-1 h-3">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
                <span class="m-t-0">
                  任务完成率：
                  <span class="text-white">30%</span>
                </span>
                <!-- END Widget - Usage -->
              </li>
              <li class="list-group-item  no-bg">
                <a href="profile-details.html"><img class="img-circle avatar avatar-sm" src="/images/avatar1.jpg" alt="Avatar"></a>
                <a href="profile-details.html"><img class="img-circle avatar avatar-sm" src="/images/avatar2.jpg" alt="Avatar"></a>
              </li>
              <li class="list-group-item  no-bg">
                <!-- START Dropdown SM Actions -->
                <div class="btn-group pull-right">
                  <button type="button" class="btn btn-default  btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-gear"></i>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                      <a href="tasks-list.html">
                        <i class="fa fa-fw fa-folder-open text-gray-lighter m-r-1"></i>
                        查看详情</a>
                    </li>
                    <li>
                      <a href="files-list.html">
                        <i class="fa fa-fw fa-paperclip text-gray-lighter m-r-1"></i>
                        添加附件</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      <a href="#" data-toggle="modal" data-target=".modal-alert-danger">
                        <i class="fa fa-fw fa-trash text-gray-lighter m-r-1"></i>
                        删除任务</a>
                    </li>
                  </ul>
                </div>
                <!-- END Dropdown SM Actions -->
                任务开始于:
                <span>2017-7-10，距今已经16天</span>
              </li>
            </ul>
          </div>
          <!-- END Project Grid -->

        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6">
          <!-- START Project Grid -->
          <div class="panel panel-default  b-a-2 no-bg b-gray-dark">
            <div class="panel-body">
              <!-- START Label -->
              <span class="label label-info label-outline">光交箱巡检</span>
              <span class="label label-warning label-outline">即将到期</span>
              <!-- END Label -->
              <!-- START Media Task Name -->
              <div class="media m-t-0">
                <div class="media-left media-middle">
                  <!-- START Star -->
                  <a href="#" class="text-muted" data-toggle="tooltip" data-placement="top" title="Add to Favorites">
                    <i class="fa fa-fw fa-lg fa-star-o"></i>
                  </a>
                  <!-- END Star -->
                </div>
                <div class="media-body">
                  <!-- START ID & Title Task -->
                  <h4 class="m-b-1">
                    <a href="/inspection/pipe">徐汇光交巡检</a>
                  </h4>
                  <!-- END ID & Title Task -->
                </div>
              </div>
              <!-- END Media Task Name -->
              计划完成时间：<span>2017-8-15,
              </span>
              <span class="text-success">剩余21天</span>
              <br>
              最后更新：
              <a href="profile-details.html" class="text-white">
                <span>蒋利民</span>
              </a>
              <span>2017-7-16</span>
            </div>
            <ul class="list-group no-bg">
              <li class="list-group-item  no-bg">
                <!-- START Widget - Usage -->
                <div class="progress b-r-a-0 m-t-0 m-b-1 h-3">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
                <span class="m-t-0">
                  任务完成率：
                  <span class="text-white">68%</span>
                </span>
                <!-- END Widget - Usage -->
              </li>
              <li class="list-group-item  no-bg">
                <a href="profile-details.html"><img class="img-circle avatar avatar-sm" src="/images/avatar1.jpg" alt="Avatar"></a>

              </li>
              <li class="list-group-item  no-bg">
                <!-- START Dropdown SM Actions -->
                <div class="btn-group pull-right">
                  <button type="button" class="btn btn-default  btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-gear"></i>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                      <a href="tasks-list.html">
                        <i class="fa fa-fw fa-folder-open text-gray-lighter m-r-1"></i>
                        查看详情</a>
                    </li>
                    <li>
                      <a href="files-list.html">
                        <i class="fa fa-fw fa-paperclip text-gray-lighter m-r-1"></i>
                        添加附件</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      <a href="#" data-toggle="modal" data-target=".modal-alert-danger">
                        <i class="fa fa-fw fa-trash text-gray-lighter m-r-1"></i>
                        删除任务</a>
                    </li>
                  </ul>
                </div>
                <!-- END Dropdown SM Actions -->
                任务开始于:
                <span>2017-7-10，距今已经16天</span>
              </li>
            </ul>
          </div>
          <!-- END Project Grid -->
        </div>
        <div class="col-lg-6 col-md-6">
          <!-- START Project Grid -->
          <div class="panel panel-default  b-a-2 no-bg b-gray-dark">
            <div class="panel-body">
              <!-- START Label -->
              <span class="label label-info label-outline">光交箱巡检</span>
              <span class="label label-danger label-outline">已超期</span>
              <!-- END Label -->
              <!-- START Media Task Name -->
              <div class="media m-t-0">
                <div class="media-left media-middle">
                  <!-- START Star -->
                  <a href="#" class="text-muted" data-toggle="tooltip" data-placement="top" title="Add to Favorites">
                    <i class="fa fa-fw fa-lg fa-star-o"></i>
                  </a>
                  <!-- END Star -->
                </div>
                <div class="media-body">
                  <!-- START ID & Title Task -->
                  <h4 class="m-b-1">
                    <a href="/inspection/pipe">杨浦区光交箱巡检</a>
                  </h4>
                  <!-- END ID & Title Task -->
                </div>
              </div>
              <!-- END Media Task Name -->
              计划完成时间：<span>2017-7-15,
              </span>
              <span class="text-danger">已经超期1天</span>
              <br>
              最后更新：
              <a href="profile-details.html" class="text-white">
                <span>王树文</span>
              </a>
              &nbsp;
              <span>2017-7-16</span>
            </div>
            <ul class="list-group no-bg">
              <li class="list-group-item  no-bg">
                <!-- START Widget - Progressbar -->
                <div class="progress b-r-a-0 m-t-0 m-b-1 h-3">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
                <span class="m-t-0">
                  任务完成率：
                  <span class="text-white">68%</span>
                </span>
                <!-- END Widget - Progressbar -->
              </li>
              <li class="list-group-item  no-bg">
                <a href="profile-details.html"><img class="img-circle avatar avatar-sm" alt="Avatar" src="/images/avatar3.jpg"></a>
              </li>
              <li class="list-group-item  no-bg">
                <!-- START Dropdown SM Actions -->
                <div class="btn-group pull-right">
                  <button type="button" class="btn btn-default  btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-gear"></i>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                      <a href="tasks-list.html">
                        <i class="fa fa-fw fa-folder-open text-gray-lighter m-r-1"></i>
                        查看详情</a>
                    </li>
                    <li>
                      <a href="files-list.html">
                        <i class="fa fa-fw fa-paperclip text-gray-lighter m-r-1"></i>
                        添加附件</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      <a href="#" data-toggle="modal" data-target=".modal-alert-danger">
                        <i class="fa fa-fw fa-trash text-gray-lighter m-r-1"></i>
                        删除任务</a>
                    </li>
                  </ul>
                </div>
                <!-- END Dropdown SM Actions -->
                任务开始于:
                <span>2017-7-10，距今已经16天</span>
              </li>
            </ul>
          </div>
          <!-- END Project Grid -->
        </div>
      </div>
      <!-- END Grid -->

    </div>
  </div>
</div>

<!-- END EDIT CONTENT -->
