<!-- START Sub-Navbar with Header and Breadcrumbs-->
<div class="sub-navbar sub-navbar__header-breadcrumbs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 sub-navbar-column">
        <div class="sub-navbar-header">
          <h3>徐汇到嘉定一干光缆巡检任务</h3>
        </div>
        <ol class="breadcrumb navbar-text navbar-right no-bg">
          <li class="current-parent">
            <a class="current-parent" href="/welcome/manager">
              <i class="fa fa-fw fa-home"></i>
            </a>
          </li>
          <li class="">
            <a class="current-parent" href="/inspection">
              巡检管理
            </a>
          </li>
          <li class="active">徐汇到嘉定一干光缆巡检任务</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- END Sub-Navbar with Header and Breadcrumbs-->

<div class="container-fluid">
  <!-- START EDIT CONTENT -->
  <div class="row">

    <div class="col-lg-3">

      <div class="hr-text hr-text-left m-t-0 m-b-1">
        <h6 class="text-white">
          <strong>任务信息</strong>
        </h6>
      </div>

      <!-- START Table Task Details -->
      <table class="table table-condensed">
        <tbody>

          <!-- START ROW Task Details  -->
          <tr>
            <td class="v-a-m b-t-0">
              任务名称
            </td>
            <td class="v-a-m b-t-0 text-right">
              <a href="#">徐汇到嘉定一干光缆巡检任务</a>
            </td>
          </tr>
          <!-- END ROW Task Details  -->

          <!-- START ROW Task Details  -->
          <tr>
            <td class="v-a-m">
              任务负责人
            </td>
            <td class="v-a-m text-right">
              <a href="#">
                <span>汪海明</span>
              </a>
            </td>
          </tr>
          <!-- END ROW Task Details  -->

          <!-- START ROW Task Details  -->
          <tr>
            <td class="v-a-m">
              开始时间
            </td>
            <td class="v-a-m text-right text-white">
              2017-7-10
            </td>
          </tr>
          <!-- END ROW Task Details  -->

          <!-- START ROW Task Details  -->
          <tr>
            <td class="v-a-m">
              结束时间
            </td>
            <td class="v-a-m text-right text-white">
              2017-7-16
            </td>
          </tr>
          <!-- END ROW Task Details  -->

          <!-- START ROW Task Details  -->
          <tr>
            <td class="v-a-m">
              优先级
            </td>
            <td class="v-a-m text-right">
              <div class="dropdown">
                <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <i class="fa fa-fw fa fa-circle text-warning"></i>
                  中
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li>
                    <a href="#">
                      <i class="fa fa-fw fa-circle text-danger m-r-1"></i>
                      高</a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-fw fa-circle text-warning  m-r-1"></i>
                      中</a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-fw fa-circle text-primary  m-r-1"></i>
                      低</a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          <!-- END ROW Task Details  -->

          <!-- START ROW Task Details  -->
          <tr>
            <td class="v-a-m">
              完成度
            </td>
            <td class="v-a-m text-right text-white">
              30%
            </td>
          </tr>
          <!-- END ROW Task Details  -->

          <!-- START ROW Task Details  -->
          <tr>
            <td class="v-a-m">
              任务ID
            </td>
            <td class="v-a-m text-right text-white">
              # 6726746

            </td>
          </tr>
          <!-- END ROW Task Details  -->

          <!-- START ROW Task Details  -->
          <tr>
            <td class="v-a-m">
              创建任务时间
            </td>
            <td class="v-a-m text-right text-white">
              2017-7-5
              <br>
              12:17

            </td>
          </tr>
          <!-- END ROW Task Details  -->

        </tbody>
      </table>
      <!-- END Table Task Details -->
      <div class="hr-text hr-text-left m-t-2 m-b-1">
        <h6 class="text-white">
          <strong>任务执行人</strong>
        </h6>
      </div>

      <!-- START Widget - Menu Pills Vertical -->
      <div class="scroll-300 custom-scrollbar">
        <ul class="nav nav-pills nav-stacked">

          <!-- START User Online (Small) -->
          <li role="presentation">
            <a href="users-grid.html">
              <div class="media">
                <div class="media-left">
                  <div class="avatar avatar-image avatar-sm ">
                    <img class="media-object img-circle" src="/images/avatar4.jpg" alt="Avatar">
                  </div>
                </div>
                <div class="media-body">
                  <h5 class="m-t-0 m-b-0">
                    <span>汪海明</span>
                  </h5>
                  <p class="small text-gray-lighter m-b-0">
                    <span>广州宜通</span>
                  </p>
                </div>

                <div class="media-right">

                  <i class="fa fa-fw fa-circle text-success" data-toggle="tooltip" data-placement="left" title="Online"></i>

                </div>

              </div>
            </a>
          </li>
          <!-- START User Online (Small) -->

          <!-- START User Online (Small) -->
          <li role="presentation">
            <a href="users-grid.html">
              <div class="media">
                <div class="media-left">
                  <div class="avatar avatar-image avatar-sm ">
                    <img class="media-object img-circle" src="/images/avatar1.jpg" alt="Avatar">
                  </div>
                </div>
                <div class="media-body">
                  <h5 class="m-t-0 m-b-0">
                    <span>陈海波</span>
                  </h5>
                  <p class="small text-gray-lighter m-b-0">
                    <span>广州宜通</span>
                  </p>
                </div>

                <div class="media-right">

                  <i class="fa fa-fw fa-circle text-danger" data-toggle="tooltip" data-placement="left" title="Busy"></i>

                </div>

              </div>
            </a>
          </li>
          <!-- START User Online (Small) -->

        </ul>
      </div>
      <!-- END Widget - Menu Pills Vertical -->

    </div>
    <!-- END Navigation Tree & Search -->

    <!-- START Tabs Content -->
    <div class="col-lg-9">

      <!-- Tabs Buttons -->
      <ul class="nav nav-tabs">

        <li role="presentation" class="active">
          <a aria-expanded="true" data-toggle="tab" href="#tab-overview" role="tab">巡检的轨迹</a>
        </li>

        <li role="presentation">
          <a aria-expanded="true" data-toggle="tab" href="#tab-messages" role="tab">发现的信息
            <span class="badge hidden-xs">1</span>
          </a>
        </li>

      </ul>

      <!-- START Tabs Content -->
      <div class="tab-content">

        <!-- START Tab: Overview -->
        <div class="tab-pane fade in active p-r-1" id="tab-overview" role="tabpanel">

          <div class="row m-t-2">

            <div class="col-lg-3">
              <div class="hr-text hr-text-left m-t-0 m-b-0">
                <h6 class="text-white">
                  <strong>巡检长度</strong>
                </h6>
              </div>
              <h1 class="f-w-300 m-t-0">23.48
                <small>公里</small>
              </h1>
            </div>

            <div class="col-lg-3">
              <div class="hr-text hr-text-left m-t-0 m-b-0">
                <h6 class="text-white">
                  <strong>巡检时长</strong>
                </h6>
              </div>
              <h1 class="f-w-300 m-t-0 m-b-0 hidden-md hidden-sm hidden-xs">-68.04
                <small>小时</small>
              </h1>
            </div>

            <div class="col-lg-3">
              <div class="hr-text hr-text-left m-t-0 m-b-0">
                <h6 class="text-white">
                  <strong>巡检吻合度</strong>
                </h6>
              </div>
              <h1 class="f-w-300 m-t-0 m-b-0">96
                <small>%</small>
              </h1>
            </div>

            <div class="col-lg-3">
              <div class="hr-text hr-text-left m-t-0 m-b-0">
                <h6 class="text-white">
                  <strong>发现问题数</strong>
                </h6>
              </div>
              <h1 class="f-w-300 m-t-0">1
                <small>处</small>
              </h1>
            </div>

          </div>

          <div class="row m-t-2">
            <div class="col-lg-12">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div id="my_map2" style="min-height:400px"></div>
                </div>
              </div>

            </div>
          </div>

        </div>
        <!-- END Tab: Overview -->

        <!-- START Tab: Messages -->
        <div class="tab-pane fade  p-r-1" id="tab-messages" role="tabpanel">

          <!-- START Inbox -->
          <div class="panel panel-default b-a-2 m-t-2 no-bg b-gray-dark">

            <!-- START Table -->
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="small text-muted text-uppercase w-5"></th>
                    <th class="small text-muted text-uppercase w-210">
                      <strong>发现人</strong>
                    </th>
                    <th class="small text-muted text-uppercase">
                      <strong>问题描述</strong>
                    </th>
                    <th class="small text-muted text-uppercase w-3"></th>
                    <th class="small text-muted text-center text-uppercase w-100">
                      <strong>上报日期</strong>
                    </th>
                    <th class="small text-muted text-center text-uppercase">
                      <strong>操作</strong>
                    </th>
                  </tr>
                </thead>
                <tbody>

                  <!-- START ROW Mail (New) -->
                  <tr>
                    <td class="v-a-m">
                    </td>

                    <td class="v-a-m ">
                      <div class="media">
                        <div class="media-left  media-middle">
                          <div class="avatar">
                            <img src="/images/avatar1.jpg" alt="Avatar" class="media-object img-circle">
                            <i class="avatar-status avatar-status-bottom  bg-success b-brand-gray-darker"></i>
                          </div>
                        </div>
                        <div class="media-body media-auto">
                          <a href="#" class="text-white">
                            <span class="media-heading text-white">陈海波</span>
                          </a>
                          <br>
                          <span class="media-heading">
                            <span>广州宜通</span>
                          </span>
                        </div>
                      </div>
                    </td>
                    <td class="v-a-m">
                      <a href="#" class="text-white">
                        <span class="media-heading">徐汇人井RJ2310的GPS位置信息与资管系统中不一致</span>
                      </a>
                      <br>
                      <span class="media-heading">
                        <span>资管系统中的坐标为121.4034, 31.178335，实际坐标为121.403271, 31.178941</span>
                      </span>
                    </td>

                    <td class="v-a-m text-right">

                    </td>
                    <td class="v-a-m text-right">
                      <span class="text-white">2017-7-12</span>
                      <br>
                      <span>12:45:12</span>

                    </td>
                    <td class="text-right">
                      <div class="btn-group" role="group" aria-label="...">
                                              <div class="btn-group" role="group">
                                                  <button type="button" class="btn btn-info btn-sm">新建流程</button>
                                              </div>
                                              <div class="btn-group" role="group">
                                                  <button type="button" class="btn btn-warning btn-sm">忽略</button>
                                              </div>
                                          </div>

                    </td>
                  </tr>
                  <!-- END ROW Mail (New) -->


                </tbody>
              </table>
            </div>
            <!-- END Table -->

          </div>
          <!-- END Inbox -->

        </div>
        <!-- END Tab: Messages -->

      </div>
      <!-- END Tabs Content -->

      <!-- @include _modals -->

    </div>
    <!-- END Tabs Content -->

  </div>
  <!-- END EDIT CONTENT -->
</div>


<script type="text/javascript">

  var map2 = new AMap.Map('my_map2', {
    resizeEnable: true,
    zoom: 13,
    mapStyle: 'amap://styles/grey',
    center: [121.424657, 31.190708]
  });

  var lineArr1 = [
    [
      121.441788, 31.206199
    ],
    [
      121.435243, 31.202363
    ],
    [
      121.436359, 31.200748
    ],
    [
      121.436917, 31.198362
    ],
    [
      121.438591, 31.193957
    ],
    [
      121.437775, 31.193333
    ],
    [
      121.437775, 31.193333
    ], //基站
    [
      121.437282, 31.193571
    ],
    [
      121.431939, 31.192342
    ],
    [
      121.426596, 31.192305
    ],
    [
      121.424557, 31.190708
    ],
    [
      121.421317, 31.189239
    ],
    [
      121.413442, 31.186871
    ],
    [
      121.414344, 31.180795
    ],
    [
      121.412112, 31.180667
    ],
    [
      121.4034, 31.178335
    ],
    [121.403271, 31.178941] //基站
  ];

  var lineArr2 = [
    [
      121.441688, 31.206199
    ],
    [
      121.435343, 31.202363
    ],
    [
      121.436559, 31.200748
    ],
    [
      121.436417, 31.198362
    ],
    [
      121.438691, 31.193957
    ],
    [
      121.437875, 31.193333
    ],
    [
      121.437675, 31.193333
    ], //基站
    [
      121.437382, 31.193571
    ],
    [
      121.431739, 31.192342
    ],
    [
      121.426896, 31.192305
    ],
    [
      121.424657, 31.190708
    ],
    [
      121.421317, 31.189239
    ],
    [
      121.413542, 31.186871
    ],
    [
      121.414444, 31.180795
    ],
    [
      121.412212, 31.180667
    ],
    [
      121.4134, 31.178335
    ],
    [121.403371, 31.178941] //基站
  ];

  new AMap.Polyline({
    path: lineArr1, //设置线覆盖物路径
    strokeColor: "#35bda8", //线颜色
    strokeOpacity: 1, //线透明度
    strokeWeight: 5, //线宽
    strokeStyle: "solid", //线样式
    strokeDasharray: [
      10, 5
    ], //补充线样式
    map: map2
  });

  new AMap.Polyline({
    path: lineArr2, //设置线覆盖物路径
    strokeColor: "#a82084", //线颜色
    strokeOpacity: 1, //线透明度
    strokeWeight: 5, //线宽
    strokeStyle: "solid", //线样式
    strokeDasharray: [
      10, 5
    ], //补充线样式
    map: map2
  });
</script>
