<div class="row" style='margin-top:20px;'>
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-clone fa-fw"></i>
        人手井基本信息
      </div>
      <table class="table table-bordered">
        <tr>
          <td align='right' class='text-muted'>
            <strong>人手井名称：</strong>
          </td>
          <td>徐汇人井GJ100</td>
          <td align='right' class='text-muted'>
            <strong>所属区域：</strong>
          </td>
          <td>RJ100</td>
          <td align='right' class='text-muted'>
            <strong>人手井型号：</strong>
          </td>
          <td>四通</td>
        </tr>
        <tr>
          <td align='right' class='text-muted'>
            <strong>人手井类型：</strong>
          </td>
          <td>单井</td>
          <td align='right' class='text-muted'>
            <strong>人手井具体类型：</strong>
          </td>
          <td>人井</td>
          <td align='right' class='text-muted'>
            <strong>经纬度：</strong>
          </td>
          <td>102.25548, 27.890265</td>
        </tr>
        <tr>
          <td align='right' class='text-muted'>
            <strong>产权：</strong>
          </td>
          <td>自建</td>
          <td align='right' class='text-muted'>
            <strong>用途：</strong>
          </td>
          <td>自用</td>
          <td align='right' class='text-muted'>
            <strong>所有权人：</strong>
          </td>
          <td>中国移动</td>
        </tr>
        <tr>
          <td align='right' class='text-muted'>
            <strong>维护人姓名：</strong>
          </td>
          <td>王强</td>
          <td align='right' class='text-muted'>
            <strong>维护人联系方式：</strong>
          </td>
          <td>13814351234</td>
          <td align='right' class='text-muted'>
            <strong>最近一次巡检的时间：</strong>
          </td>
          <td>2017年7月8日（5天前）</td>
        </tr>
        <tr>
          <td align='right' class='text-muted'>
            <strong>人手井地址</strong>
          </td>
          <td colspan="5">上海市宁波路120弄</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class='row'>
  <div class="col-lg-4">
    <div class="panel panel-default">
      <img src="/images/manhole_scene.png" alt="..." class="img-rounded" width="100%">
    </div>
  </div>
  <div class="col-lg-8">
    <div class="panel panel-default">
      <div id="manhole_map" style="min-height:600px"></div>
    </div>
  </div>
</div>
