<div class="row" style="margin-top: 20px;">

  <div class="col-lg-8">
    <table class="table-bordered table_occ_internal_structure" width='100%' align="center" style="text-align:center">
      <tr>
        <td colspan="18" height='20px'></td>
      </tr>
      <tr>
        <td rowspan="8" width='30px'>A盘</td>
        <td width='40px' height='40px'>1</td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-1'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-2'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-3'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-4'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-5'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-6'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-7'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-8'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-9'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-10'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-11'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-12'></td>
      </tr>
      <tr>
        <td width='40px' height='40px'>2</td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-13'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-14'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-15'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-16'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-17'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-18'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-19'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-20'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-21'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-22'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-23'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-24'></td>
      </tr>
      <tr>
        <td width='40px' height='40px'>3</td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-13'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-14'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-15'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-16'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-17'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-18'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-19'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-20'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-21'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-22'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-23'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-24'></td>
      </tr>
      <tr>
        <td width='40px' height='40px'>4</td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-13'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-14'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-15'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-16'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-17'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-18'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-19'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-20'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-21'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-22'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-23'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-24'></td>
      </tr>
      <tr>
        <td width='40px' height='40px'>5</td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-13'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-14'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-15'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-16'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-17'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-18'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-19'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-20'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-21'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-22'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-23'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-24'></td>
      </tr>
      <tr>
        <td width='40px' height='40px'>6</td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-13'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-14'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-15'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-16'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-17'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-18'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-19'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-20'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-21'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-22'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-23'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-24'></td>
      </tr>
      <tr>
        <td width='40px' height='40px'>7</td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-13'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-14'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-15'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-16'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-17'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-18'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-19'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-20'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-21'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-22'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-23'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-24'></td>
      </tr>
      <tr>
        <td width='40px' height='40px'>8</td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-13'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-14'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-15'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-16'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-17'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-18'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-19'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-20'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-21'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-22'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-23'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-24'></td>
      </tr>
      <tr>
        <td rowspan="6" width='30px'>B盘</td>
        <td width='40px' height='40px'>1</td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-13'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-14'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-15'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-16'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-17'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-18'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-19'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-20'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-21'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-22'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-23'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-24'></td>
      </tr>
      <tr>
        <td width='40px' height='40px'>2</td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-13'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-14'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-15'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-16'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-17'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-18'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-19'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-20'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-21'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-22'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-23'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-24'></td>
      </tr>
      <tr>
        <td width='40px' height='40px'>3</td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-13'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-14'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-15'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-16'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-17'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-18'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-19'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-20'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-21'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-22'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-23'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-24'></td>
      </tr>
      <tr>
        <td width='40px' height='40px'>4</td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-13'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-14'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-15'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-16'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-17'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-18'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-19'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-20'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-21'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-22'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-23'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-24'></td>
      </tr>
      <tr>
        <td width='40px' height='40px'>5</td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-13'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-14'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-15'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-16'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-17'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-18'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-19'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-20'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-21'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-22'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-23'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-24'></td>
      </tr>
      <tr>
        <td width='40px' height='40px'>6</td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-13'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-14'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-15'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-16'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-17'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-18'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-19'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-20'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-21'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-22'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-23'></td>
        <td><img src="/images/occ_point_default.png" alt="" id='po1int-24'></td>
      </tr>

    </table>
    <div class="m-l-2 m-b-2 m-t-2">
        <span class="small text-muted text-uppercase p-b-2 block">
            <strong>图标说明</strong>
        </span>
        <br>
        <br>
        <p><img src="/images/occ_point_used.png" height="10px" width="10px"> 正在使用</p>
        <p><img src="/images/occ_point_default.png"  height="10px" width="10px"> 未使用</p>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-default bg-gray-dark b-a-0">
      <div class="panel-heading" id='port_label'>
        跳纤口信息
      </div>
      <ul class="list-group">
        <li class="list-group-item no-bg">
          <h5>工程项目名称</h5>
          <p id='project_name'>
          </p>
        </li>
        <li class="list-group-item no-bg">
          <h5>光路名称</h5>
          <p>中国上海怒江11号-中国上海中南商务楼F00063025光监

          </p>
        </li>
        <li class="list-group-item no-bg">
          <h5>起始端口</h5>
          <p>OTU8000 通道11

          </p>
        </li>
        <li class="list-group-item no-bg">
          <h5>终止端口</h5>
          <p>1:8分光器 上联口

          </p>
        </li>
        <li class="list-group-item no-bg">
          <h5>经过光缆</h5>
          <p>普陀汇聚中继01环怒江11号(X端)-长寿(Y端)Z01汇聚中继光缆()(怒江11号-中南商务楼)(23,24/144)

          </p>
        </li>
        <li class="list-group-item no-bg">
          <h5>路由信息</h5>
          <p>怒江11号2楼机房传输/ODF06-B51-01-02-11<--->中南商务楼机房传输/ODF01-02-01-02-11 怒江11号2楼机房传输/ODF06-B51-01-02-12<--->中南商务楼机房传输/ODF01-02-01-02-12

              </p>
            </li>
          </ul>
        </div>

      </div>
    </div>

    <div class="popover top">
      <div class="arrow "></div>
      <h3 class="popover-title bg-primary  b-b-0">Popover Primary Top</h3>
      <div class="popover-content">
        <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
      </div>
    </div>

    <script type="text/javascript">

      $(document).ready(function () {
        $("img[id|='point']").each(function functionName() {
          $(this).mouseover(function () {
            $(this).attr('src', '/images/occ_point_highlight.png');
            //将配对的跳纤口也高亮显示出来
            var no = parseInt(this.id.slice(6));
            var target_no = 12 + no;
            if (target_no > 24) {
              target_no = target_no - 24;
            }

            $('#port_label').text( no + ' - 跳纤口信息');
            $('#project_name').text('2015年光监二期工程怒江OTU8000通道11-19跳纤更改工单-' + no);
            $('#point-' + target_no.toString()).attr('src', '/images/occ_point_highlight.png');
          });

          $(this).mouseout(function () {
            $(this).attr('src', '/images/occ_point_used.png');
            //将配对的跳纤口还原到原来的颜色
            var no = parseInt(this.id.slice(6));
            var target_no = 12 + no;
            if (target_no > 24) {
              target_no = target_no - 24;
            }
            $('#point-' + target_no.toString()).attr('src', '/images/occ_point_used.png');
          });
        });

      });
    </script>
