<div class="row" style='margin-top:20px;'>
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-clone fa-fw"></i>
        光交箱基本信息
      </div>
      <table class="table table-bordered">
        <tr>
          <td align='right' class='text-muted'>
            <strong>光交箱名称：</strong>
          </td>
          <td>徐汇光交GJ100</td>
          <td align='right' class='text-muted'>
            <strong>光交箱编号：</strong>
          </td>
          <td>GJ100</td>
          <td align='right' class='text-muted'>
            <strong>光交箱容量：</strong>
          </td>
          <td>144芯</td>
        </tr>
        <tr>
          <td align='right' class='text-muted'>
            <strong>光交箱维护人姓名：</strong>
          </td>
          <td>王强</td>
          <td align='right' class='text-muted'>
            <strong>光交箱维护人联系方式：</strong>
          </td>
          <td>13814351234</td>
          <td align='right' class='text-muted'>
            <strong>最近一次巡检的时间：</strong>
          </td>
          <td>2017年7月8日（5天前）</td>
        </tr>
        <tr>
          <td align='right' class='text-muted'>
            <strong>光交箱地址</strong>
          </td>
          <td colspan="5">上海市宁波路120弄</td>
        </tr>

      </table>
    </div>
  </div>
</div>
<div class='row'>
  <div class="col-lg-4">
    <div class="panel panel-default">
      <img src="/images/occ_scene.png" alt="..." class="img-rounded" width="100%">
    </div>
  </div>
  <div class="col-lg-8">
    <div class="panel panel-default">
      <div id="occ_map" style="min-height:350px"></div>
    </div>
  </div>
</div>
