<div class="timeline m-t-2">
    <!-- Timeline - Badge Date -->
    <div class="timeline-date">
        <span class="badge">2017-7-16</span>
    </div>
    <div class="timeline-item p-r-1" id="m16">
        <!-- Timeline - Mini Icon -->
        <div class="timeline-icon">
            <i class="fa fa-fw fa-check-circle-o text-info"></i>
        </div>

        <!-- Timeline - Icon  -->
        <div class="timeline-item-head clearfix m-b-0">
            <!-- Timeline - Header & Subtitle -->

            <!-- START Avatar, Message & Time -->
            <div class="row">

                <div class="col-lg-12 m-l-1">

                    <span class="label label-info label-outline">巡检</span>
                    <br>
                    <p class="text-white m-t-1"><span>良好，未发现问题，对内部的光缆进行整理</span></p>

                    <div class="m-b-1">
                        <img class="img-rounded" src="/images/occ_scene.png" width="100px">
                    </div>

                    <i class="m-l-1 fa fa-file-text-o fa-fw"></i>  <a href="#">巡检记录.xls</a>
                    <br>
                    <br>
                    <div class="m-b-1">
                        <img class="img-circle avatar avatar-sm" src="/images/avatar4.jpg">
                    </div>
                </div>
            </div>
            <!-- END Avatar, Message & Time -->

        </div>
    </div>
</div>
<!-- END Timeline - Active Entry (Day) -->
