<div class="timeline m-t-2">
    <!-- Timeline - Badge Date -->
    <div class="timeline-date">
        <span class="badge">2017-7-16</span>
    </div>
    <div class="timeline-item p-r-1" id="m16">
        <!-- Timeline - Mini Icon -->
        <div class="timeline-icon">
            <i class="fa fa-fw fa-wrench text-primary"></i>
        </div>

        <!-- Timeline - Icon  -->
        <div class="timeline-item-head clearfix m-b-0">
            <!-- Timeline - Header & Subtitle -->

            <!-- START Avatar, Message & Time -->
            <div class="row">

                <div class="col-lg-12 m-l-1">

                    <span class="label label-primary label-outline">施工</span>
                    <br>
                    <p class="text-white m-t-1"><span>光监二期工程怒江OTU8000通道11-19跳纤更改工单</span></p>
                    <p class="text-white m-t-1"><span>
                      普陀汇聚中继01环怒江11号(X端)-长寿(Y端)Z01汇聚中继光缆()(怒江11号-中南商务楼)(23,24/144)
                    </span></p>

                    <p class="text-white m-t-1"><span>
                      中国上海中南商务楼机房传输<--->中国上海中南商务楼机房传输 ODF01-02-01-02-11<---> ODF01-02-01-02-12<--->
                    </span></p>
                    <p class="text-white m-t-1"><span>
                      ODF01-02-01-02-11<--->
                    </span></p>
                    <p class="text-white m-t-1"><span>
                      ODF01-02-01-02-12<--->
                    </span></p>
                    </p>

                    <i class="m-l-1 fa fa-file-text-o fa-fw"></i>  <a href="#">光纤调度工单(O-20150127-115).xls</a>
                    <br>
                    <br>
                    <div class="m-b-1">
                        <img class="img-circle avatar avatar-sm" src="/images/avatar4.jpg">
                    </div>
                </div>
            </div>
            <!-- END Avatar, Message & Time -->

        </div>
    </div>
</div>
<!-- END Timeline - Active Entry (Day) -->
