<div class="row" style='margin-top:20px;'>
  <div class="col-lg-12">
    <div id="my_map2" style="min-height:500px"></div>
  </div>
</div>
<div class="row" style='margin-top:20px;'>
  <div class="col-lg-12">
    <!-- START My Projects - Timeline -->
    <div class="panel panel-default no-bg b-gray-dark">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-4 col-xs-4">路由表</div>
        </div>
      </div>
      <div class="panel-body">
        <!-- START Timeline - Active Entry (Day) -->
        <div class="timeline">
          <!-- Timeline - Badge Date -->
          <div class="timeline-date">
            <span class="badge">下行</span>
          </div>
          <div class="timeline-item p-r-1" id="m16">
            <!-- Timeline - Mini Icon -->
            <div class="timeline-icon">
              <i class="fa fa-fw fa-users text-info"></i>
            </div>

            <!-- Timeline - Icon  -->
            <div class="timeline-item-head clearfix m-b-0">
              <!-- Timeline - Header & Subtitle -->

              <!-- START Avatar, Message & Time -->
              <div class="row">
                <div class="col-lg-12 m-l-1">
                  <span class="label label-info label-outline">中汇花园</span>
                  <br>
                  <p class="text-white m-t-1">
                    <i class="fa fa-filter fa-fw"></i>
                    分光器1，3单元楼栋，2:64分光器分路
                    <br>
                    <i class="fa fa-filter fa-fw"></i>
                    分光器2，5单元楼栋，2:64分光器分路
                    <br>
                    <i class="fa fa-filter fa-fw"></i>
                    分光器3，6单元楼栋，2:64分光器分路
                    <br>
                  </p>
                  <p class="text-nowrap small">
                    <span>信息采集时间：2016-05-12 13:05:34</span>
                  </p>
                </div>
              </div>
              <!-- END Avatar, Message & Time -->

            </div>
          </div>
        </div>
        <!-- END Timeline - Active Entry (Day) -->

        <!-- START Timeline - Active Entry -->
        <div class="timeline">
          <div class="timeline-item p-r-1" id="m16">
            <!-- Timeline - Mini Icon -->
            <div class="timeline-icon">
              <i class="fa fa-fw fa-users text-info"></i>
            </div>

            <!-- Timeline - Icon  -->
            <div class="timeline-item-head clearfix m-b-0">
              <!-- Timeline - Header & Subtitle -->

              <!-- START Avatar, Message & Time -->
              <div class="row">

                <div class="col-lg-12 m-l-1">

                  <span class="label label-info label-outline">信联公寓</span>
                  <br>
                  <p class="text-white m-t-1">
                    <i class="fa fa-filter fa-fw"></i>
                    分光器1，3单元楼栋，2:64分光器分路
                    <br>
                    <i class="fa fa-filter fa-fw"></i>
                    分光器2，5单元楼栋，2:64分光器分路
                    <br>
                    <i class="fa fa-filter fa-fw"></i>
                    分光器3，6单元楼栋，2:64分光器分路
                    <br>
                  </p>
                  <p class="text-nowrap small">
                    <span>信息采集时间：2016-05-12 13:05:34</span>
                  </p>
                </div>
              </div>
              <!-- END Avatar, Message & Time -->

            </div>
          </div>
        </div>
        <!-- END Timeline - Active Entry -->

        <!-- START Timeline - Active Entry -->
        <div class="timeline">
          <div class="timeline-item p-r-1" id="m16">
            <!-- Timeline - Mini Icon -->
            <div class="timeline-icon">
              <i class="fa fa-fw fa-users text-info"></i>
            </div>

            <!-- Timeline - Icon  -->
            <div class="timeline-item-head clearfix m-b-0">
              <!-- Timeline - Header & Subtitle -->

              <!-- START Avatar, Message & Time -->
              <div class="row">

                <div class="col-lg-12 m-l-1">

                  <span class="label label-info label-outline">众联别墅</span>
                  <br>
                  <p class="text-white m-t-1">
                    <i class="fa fa-filter fa-fw"></i>
                    分光器1，3单元楼栋，2:64分光器分路
                    <br>
                    <i class="fa fa-filter fa-fw"></i>
                    分光器2，5单元楼栋，2:64分光器分路
                    <br>
                    <i class="fa fa-filter fa-fw"></i>
                    分光器3，6单元楼栋，2:64分光器分路
                    <br>
                  </p>
                  <p class="text-nowrap small">
                    <span>信息采集时间：2016-05-12 13:05:34</span>
                  </p>

                </div>
              </div>
              <!-- END Avatar, Message & Time -->

            </div>
          </div>
        </div>
        <!-- END Timeline - Active Entry -->


        <!-- START Timeline - Active Entry (Day) -->
        <div class="timeline">
          <!-- Timeline - Badge Date -->
          <div class="timeline-date">
            <span class="badge">上联</span>
          </div>
          <div class="timeline-item p-r-1" id="m16">
            <!-- Timeline - Mini Icon -->
            <div class="timeline-icon">
              <i class="fa fa-fw fa-random text-success"></i>
            </div>

            <!-- Timeline - Icon  -->
            <div class="timeline-item-head clearfix m-b-0">
              <!-- Timeline - Header & Subtitle -->

              <!-- START Avatar, Message & Time -->
              <div class="row">

                <div class="col-lg-12 m-l-1">

                  <span class="label label-success label-outline">东大基站</span>
                  <br>

                </div>
              </div>
              <!-- END Avatar, Message & Time -->

            </div>
          </div>
        </div>
        <!-- END Timeline - Active Entry (Day) -->

        <!-- START Timeline - Active Entry -->
        <div class="timeline">

          <div class="timeline-item p-r-1" id="m16">
            <!-- Timeline - Mini Icon -->
            <div class="timeline-icon">
              <i class="fa fa-fw fa-random text-success"></i>
            </div>

            <!-- Timeline - Icon  -->
            <div class="timeline-item-head clearfix m-b-0">
              <!-- Timeline - Header & Subtitle -->

              <!-- START Avatar, Message & Time -->
              <div class="row">

                <div class="col-lg-12 m-l-1">

                  <span class="label label-success label-outline">钦州机房</span>
                  <br>

                </div>
              </div>
              <!-- END Avatar, Message & Time -->

            </div>
          </div>
        </div>
        <!-- END Timeline - Active Entry  -->

      </div>
    </div>
    <!-- END My Projects - Timeline -->
  </div>
</div>

<script type="text/javascript">

  $('#myModal').on('show.bs.modal', function (e) {

    var map2 = new AMap.Map('my_map2', {
      resizeEnable: true,
      zoom: 16,
      mapStyle: 'amap://styles/grey',
      center: [121.441788, 31.206199]
    });

    new AMap.Marker({
      position: [
        121.441788, 31.206199
      ],
      title: '徐汇光交GJ102',
      icon: '/images/icon/occ-default-24.png',
      offset: new AMap.Pixel(-12, -12),
      map: map2
    });

    new AMap.Marker({
      position: [
        121.442603, 31.205364
      ],
      title: '中汇花园',
      icon: '/images/icon/community-24.png',
      offset: new AMap.Pixel(-12, -12),
      map: map2
    });

    new AMap.Marker({
      position: [
        121.441026, 31.206704
      ],
      title: '众联别墅',
      icon: '/images/icon/community-24.png',
      offset: new AMap.Pixel(-12, -12),
      map: map2
    });

    new AMap.Marker({
      position: [
        121.44182, 31.206832
      ],
      title: '信联公寓',
      icon: '/images/icon/community-24.png',
      offset: new AMap.Pixel(-12, -12),
      map: map2
    });

    new AMap.Marker({
      position: [
        121.437775, 31.193333
      ],
      title: '东大基站',
      icon: '/images/icon/basestation-24.png',
      offset: new AMap.Pixel(-12, -12),
      map: map2
    });

    new AMap.Marker({
      position: [
        121.403271, 31.178941
      ],
      title: '钦州机房',
      icon: '/images/icon/basestation-24.png',
      offset: new AMap.Pixel(-12, -12),
      map: map2
    });

    new AMap.Polyline({
      path: [
        [
          121.441788, 31.206199
        ],
        [121.442603, 31.205364]
      ], //设置线覆盖物路径
      strokeColor: "#2d99dc", //线颜色
      strokeOpacity: 1, //线透明度
      strokeWeight: 5, //线宽
      strokeStyle: "solid", //线样式
      strokeDasharray: [
        10, 5
      ], //补充线样式
      map: map2
    });

    new AMap.Polyline({
      path: [
        [
          121.441788, 31.206199
        ],
        [121.441026, 31.206704]
      ], //设置线覆盖物路径
      strokeColor: "#2d99dc", //线颜色
      strokeOpacity: 1, //线透明度
      strokeWeight: 5, //线宽
      strokeStyle: "solid", //线样式
      strokeDasharray: [
        10, 5
      ], //补充线样式
      map: map2
    });

    new AMap.Polyline({
      path: [
        [
          121.441788, 31.206199
        ],
        [121.44182, 31.206832]
      ], //设置线覆盖物路径
      strokeColor: "#2d99dc", //线颜色
      strokeOpacity: 1, //线透明度
      strokeWeight: 5, //线宽
      strokeStyle: "solid", //线样式
      strokeDasharray: [
        10, 5
      ], //补充线样式
      map: map2
    });

    var lineArr1 = [
      [
        121.441788, 31.206199
      ],
      [
        121.435243, 31.202363
      ],
      [
        121.436359, 31.200748
      ],
      [
        121.436917, 31.198362
      ],
      [
        121.438591, 31.193957
      ],
      [121.437775, 31.193333] //基站
    ];

    var lineArr2 = [
      [
        121.437775, 31.193333
      ], //基站
      [
        121.437282, 31.193571
      ],
      [
        121.431939, 31.192342
      ],
      [
        121.426596, 31.192305
      ],
      [
        121.424557, 31.190708
      ],
      [
        121.421317, 31.189239
      ],
      [
        121.413442, 31.186871
      ],
      [
        121.414344, 31.180795
      ],
      [
        121.412112, 31.180667
      ],
      [
        121.4034, 31.178335
      ],
      [121.403271, 31.178941] //基站
    ];

    new AMap.Polyline({
      path: lineArr1, //设置线覆盖物路径
      strokeColor: "#35bda8", //线颜色
      strokeOpacity: 1, //线透明度
      strokeWeight: 5, //线宽
      strokeStyle: "solid", //线样式
      strokeDasharray: [
        10, 5
      ], //补充线样式
      map: map2
    });

    new AMap.Polyline({
      path: lineArr2, //设置线覆盖物路径
      strokeColor: "#86b34d", //线颜色
      strokeOpacity: 1, //线透明度
      strokeWeight: 5, //线宽
      strokeStyle: "solid", //线样式
      strokeDasharray: [
        10, 5
      ], //补充线样式
      map: map2
    });
  })
</script>
